Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

feat: use oPrivateColorsSetColor
  components/o-labels/src/scss/_colors.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
  components/o-private-foundation/src/scss/o-colors/_variables.scss
  components/o-share/src/scss/_color-use-cases.scss
  components/o-teaser/src/scss/_deprecated.scss
Owners: @Financial-Times/origami-core

feat: remove unused use case colours, namespace with o3
  components/o-labels/src/scss/_colors.scss
  components/o-private-foundation/src/scss/o-colors/_use-cases.scss
  components/o-teaser/src/scss/_deprecated.scss
Owners: @Financial-Times/origami-core

chore: Remove o-typography as a dependency of o-table
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
  components/o-private-foundation/src/scss/o-typography/main.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/scss/_base.scss
  components/o-table/src/scss/_compact.scss
  components/o-visual-effects/stories/visual-effects.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of ft-concept-button
  components/ft-concept-button/main.scss
  components/ft-concept-button/package.json
  components/ft-concept-button/stories/concept-button.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: use oPrivateColorsByUseCase
  components/ft-concept-button/main.scss
  components/o-buttons/main.scss
  components/o-buttons/package.json
  components/o-buttons/src/scss/_functions.scss
  components/o-comments/package.json
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-editorial-typography/package.json
  components/o-editorial-typography/src/scss/_mixins.scss
  components/o-message/package.json
  components/o-message/src/scss/_brand.scss
  components/o-multi-select/main.scss
  components/o-multi-select/package.json
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-normalise/_variables.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/package.json
  components/o-stepped-progress/src/scss/_brand.scss
  components/o-teaser/src/scss/themes/_hero.scss
  components/o-teaser/src/scss/themes/_package.scss
  components/o-topper/package.json
  components/o-topper/src/scss/_mixins.scss
  components/o-topper/src/scss/themes/_package.scss
  components/o-typography/main.scss
  components/o-typography/package.json
  components/o-typography/src/scss/_brand.scss
  components/o-typography/src/scss/use-cases/_general.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger, @Financial-Times/storytelling

feat: use oPrivateColorGetTextColor
  components/o-autocomplete/main.scss
  components/o-buttons/src/scss/_functions.scss
  components/o-labels/src/scss/_mixins.scss
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-teaser/src/scss/themes/_package.scss
  components/o-topper/src/scss/_mixins.scss
  components/o-topper/src/scss/themes/_deep-portrait.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateColorGetTone
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateColorGetToneDetails
  components/o-buttons/src/scss/_functions.scss
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: replaces references to oColorsMix in comments
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateColorsColorBrightness
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateColorsColorLuminance
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateColorsGetContrastRatio
  components/o-message/src/scss/_mixins.scss
  components/o-normalise/src/scss/_mixins.scss
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
  components/o-topper/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

feat: remove oColorsGetPaletteDetails
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use _oPrivateColorsPreciseFloor
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use _oPrivateColorsError
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use _oPrivateColorsGetNameSpace
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
Owners: @Financial-Times/origami-core

feat: use _oColorsRemoveDefaultNamespace
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
Owners: @Financial-Times/origami-core

feat: use use _oPrivateColorsNameExists
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
Owners: @Financial-Times/origami-core

feat: use use _oPrivateColorsHsbToHex
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use _oPrivateColorsHexToHsbValues
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

feat: use private mixins
  components/o-private-foundation/src/scss/o-colors/_mixins.scss
  components/o-private-foundation/src/scss/o-colors/_variables.scss
Owners: @Financial-Times/origami-core

fix: fix typo
  components/o-buttons/src/scss/_functions.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-layout/src/scss/_grid-areas.scss
  components/o-layout/src/scss/_grid.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-normalise/_variables.scss
  components/o-share/src/scss/_mixins.scss
  components/o-stepped-progress/src/scss/_brand.scss
  components/o-table/src/scss/_brand.scss
  components/o-teaser/src/scss/_variables.scss
  components/o-teaser/src/scss/elements/_default.scss
  components/o-teaser/src/scss/themes/_hero.scss
  components/o-teaser/src/scss/themes/_large.scss
  components/o-teaser/src/scss/themes/_package.scss
  components/o-teaser/src/scss/themes/_small.scss
  components/o-teaser/src/scss/themes/_standard.scss
  components/o-teaser/src/scss/themes/_top-stories.scss
  components/o-topper/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

chore: Remove o-typography as a dependency of o-video
  components/o-private-foundation/src/scss/o-typography/main.scss
  components/o-video/src/scss/_guidance.scss
  components/o-video/src/scss/_info.scss
  components/o-video/src/scss/_placeholder.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling

chore: Remove o-typography as a dependency of o-banner
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-banner/src/scss/themes/_theme.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-autocomplete
  components/o-autocomplete/main.scss
  components/o-autocomplete/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-big-number
  components/o-big-number/main.scss
  components/o-big-number/package.json
  components/o-big-number/src/scss/_mixins.scss
  components/o-private-foundation/src/scss/o-typography/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-footer
  components/o-footer/main.scss
  components/o-footer/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-editorial-typography
  components/o-editorial-layout/main.scss
  components/o-editorial-typography/README.md
  components/o-editorial-typography/main.scss
  components/o-editorial-typography/package.json
  components/o-editorial-typography/src/scss/_mixins.scss
  components/o-editorial-typography/src/scss/_variables.scss
  components/o-private-foundation/src/scss/o-typography/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-video
  components/o-video/main.scss
  components/o-video/package.json
  components/o-video/src/scss/_guidance.scss
  components/o-video/src/scss/_info.scss
Owners: @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-typography as a dependency of n-notification
  components/n-notification/main.scss
  components/n-notification/package.json
Owners: @Financial-Times/content-discovery, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-typography as a dependency of o-comments
  components/o-comments/main.scss
  components/o-comments/package.json
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-typography as a dependency of o-editorial-layout
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-editorial-layout/main.scss
  components/o-editorial-layout/package.json
  components/o-editorial-layout/src/scss/_variables.scss
  components/o-editorial-layout/stories/docs/sassdoc.md
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

fix: revert changes to o-buttons
  components/o-buttons/main.scss
  components/o-buttons/package.json
  components/o-buttons/src/scss/_functions.scss
  components/o-buttons/test/scss/_functions.test.scss
  components/o-buttons/test/scss/_mixins.test.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

fix: use oPrivateFoundationGet
  components/n-notification/main.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-private-foundation/src/scss/o-colors/_palette.scss
  components/o-private-foundation/src/scss/o-normalise/main.scss
Owners: @Financial-Times/content-discovery, @Financial-Times/origami-core

fix: fix o-autocomplete issues
  components/o-autocomplete/main.scss
  components/o-autocomplete/src/scss/_brand.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/shared/_brand.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

fix: fix custom theme function usage
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
Owners: @Financial-Times/origami-core

fix: fix cookie message usage
  components/o-cookie-message/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

fix: fix footer colour usage
  components/o-footer/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

fix: fix o-labels imports and oPrivateColors usage
  components/o-labels/demos/src/demo.scss
  components/o-labels/src/scss/_brand.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
Owners: @Financial-Times/origami-core

fix: fix o-table colour names
  components/o-table/src/scss/_brand.scss
  components/o-topper/src/scss/themes/_deep-landscape.scss
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
