Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core

backstage: Remove o-buttons as an o-comments dependency
  components/o-comments/main.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling

backstage: Reluctantly port custom button colour Sass, to support messaging components.
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-message dependency
  components/o-message/README.md
  components/o-message/demos/src/demo.scss
  components/o-message/main.scss
  components/o-message/package.json
  components/o-message/src/scss/_mixins.scss
  components/o-message/stories/docs/sassdoc.md
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass import from o-header
  components/o-header/main.scss
Owners: @Financial-Times/origami-core

chore: update package-lock.json
  components/o-autocomplete/package.json
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Update o-table to use latest o-private-foundation changes.
  components/o-table/src/scss/_responsive-overflow.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons Sass import from o-header
  components/o-header/main.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-header dependency
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/_variables.scss
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_search.scss
  components/o-header/src/scss/features/_transparent.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons as an o-forms peer dependency
  components/o-forms/README.md
  components/o-forms/package.json
  components/o-forms/src/scss/_file-input.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/stories/forms.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons as an o-comments dependency
  components/o-comments/main.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling

backstage: Throw in o-private-foundation if a token is not found
  components/o-comments/main.scss
  components/o-comments/package.json
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Reduce use of Sass modules to prevent errors when importing multiple times via other components.
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-tabs dependency
  components/o-tabs/README.md
  components/o-tabs/main.scss
  components/o-tabs/package.json
  components/o-tabs/src/scss/_buttontabs.scss
  components/o-tabs/stories/tabs.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

Remove o-buttons as an o-message dependency (#1882)
  components/o-message/README.md
  components/o-message/demos/src/demo.scss
  components/o-message/main.scss
  components/o-message/package.json
  components/o-message/src/scss/_mixins.scss
  components/o-message/stories/docs/sassdoc.md
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: remove oPrivateGrid
  components/o-header-services/src/scss/_base.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
  components/o-private-foundation/src/scss/o-grid/main.scss
Owners: @Financial-Times/origami-core

chore: update comments
  components/o-private-foundation/src/scss/o-grid/_functions.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
Owners: @Financial-Times/origami-core

chore: add oPrivateGridRespondTo to sass lint rules
  presets/stylelint-config-origami-component/config.js
Owners: @Financial-Times/origami-core

chore: remove o-pf-grid-is-silent
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: import o-grid at root
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

chore: introduced grid JS to o-private-foundation
  components/o-footer/src/js/layout.js
  components/o-private-foundation/main.js
  components/o-tooltip/src/js/tooltip.js
Owners: @Financial-Times/origami-core

chore: hoist pf-grid-layouts from o-grid
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: correct typo
  components/o-comments/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: remove unecessary variables, use pf namespacing
  components/o-private-foundation/src/scss/o-spacing/_variables.scss
  components/o-private-foundation/src/scss/o-spacing/main.scss
Owners: @Financial-Times/origami-core

chore: remove private-foundations
  components/o-comments/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: remove private-foundations
  components/o-comments/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: update normalise path
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

chore: remove duplicate keys
  components/o-autocomplete/package.json
  components/o-banner/package.json
  components/o-header/package.json
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: fix lint rules
  components/o-header/src/scss/features/_drawer.scss
Owners: @Financial-Times/origami-core

chore: fix lint rules
  components/o-forms/src/scss/modifiers/_inverse.scss
Owners: @Financial-Times/origami-core

chore: align o-private-foundation/o-normalise directory structure (#1874)
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/src/scss/themes/_theme.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/src/scss/_base.scss
  components/o-header/src/scss/_base.scss
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/demos/src/demo.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
  components/o-private-foundation/src/scss/o-normalise/_variables.scss
  components/o-private-foundation/src/scss/o-normalise/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-tooltip/main.scss
  components/o-video/main.scss
  presets/stylelint-config-origami-component/config.js
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger, @Financial-Times/acquisition, @Financial-Times/storytelling

chore: move o-visual-effects, replace broken import
  components/o-autocomplete/main.scss
  components/o-banner/main.scss
  components/o-cookie-message/main.scss
  components/o-header-services/main.scss
  components/o-header/main.scss
  components/o-layout/main.scss
  components/o-overlay/main.scss
  components/o-private-foundation/o-visual-effects/main.scss
  components/o-private-foundation/src/scss/o-visual-effects/main.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_shadows.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_variables.scss
  components/o-table/main.scss
  components/o-tooltip/main.scss
Owners: @Financial-Times/origami-core

feat: introduce o visual effects (#1877)
  components/o-autocomplete/main.scss
  components/o-autocomplete/package.json
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-cookie-message/main.scss
  components/o-cookie-message/package.json
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_drawer.scss
  components/o-header-services/src/scss/_secondary-nav.scss
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_megamenu.scss
  components/o-header/src/scss/features/_sticky.scss
  components/o-layout/main.scss
  components/o-layout/package.json
  components/o-layout/src/scss/_mixins.scss
  components/o-overlay/main.scss
  components/o-overlay/package.json
  components/o-overlay/src/scss/_mixins.scss
  components/o-private-foundation/src/scss/o-visual-effects/main.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_shadows.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_variables.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/scss/_responsive-overflow.scss
  components/o-tooltip/main.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: conditially set public grid vars
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: try conditionals
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: update package lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: run only one job at a time
  .github/workflows/test.yml
Owners: @Financial-Times/origami-core

chore: regen package lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: use meta package
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: use correct variable exists syntax
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core

chore: use correct variable exists syntax
  components/o-private-foundation/src/scss/o-grid/_variables.scss
Owners: @Financial-Times/origami-core
