Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform

backstage: copy props for o-teaser
  components/o-teaser/src/tsx/Props.d.ts
Owners: @Financial-Times/origami-core

fix: o-comments, use coral v6.18.2 api to set container / body class
  components/o-comments/src/js/stream.js
Owners: @Financial-Times/content-innovation

fix: o-comments, use coral v6.18.2 api to set container / body class
  components/o-comments/src/js/stream.js
Owners: @Financial-Times/content-innovation

chore: release main
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@3de1e3e8ba342c29c727cb8be458bc26c2a3a99d 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@2dba116ec961e96ea38a48bf8c0c10a1bfab209e 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.875240a163782181bceb.manager.bundle.js
  storybook/main.ef29e54aa186fe8010c5.manager.bundle.js
Owners: @Financial-Times/origami-core

backstage: uncomment headshotTint from argTypes
  components/o-teaser/stories/arg-types.ts
Owners: @Financial-Times/origami-core

backstage: convert jscdoc to ts types
  components/o-teaser/src/tsx/concerns/date-time.js
  components/o-teaser/src/tsx/concerns/date-time.ts
  components/o-teaser/src/tsx/concerns/image-service.ts
  components/o-teaser/src/tsx/concerns/rules.ts
  components/o-teaser/src/tsx/teaser.tsx
Owners: @Financial-Times/origami-core

backstage: convert ts files back to jsdoc and update argTypes
  components/o-teaser/src/tsx/concerns/date-time.js
  components/o-teaser/src/tsx/concerns/date-time.ts
  components/o-teaser/src/tsx/concerns/image-service.js
  components/o-teaser/src/tsx/concerns/rules.js
  components/o-teaser/stories/arg-types.ts
Owners: @Financial-Times/origami-core

backstage: remove more jsdoc definitions and instal date-fns package
  components/o-teaser/package.json
  components/o-teaser/src/tsx/custom-slot.tsx
  components/o-teaser/src/tsx/image.tsx
  components/o-teaser/src/tsx/relative-time.tsx
  package-lock.json
Owners: @Financial-Times/origami-core

backstage: refacotr meta.tsx, remove x-dash templates and keep relevant logic to meta in one file, extend Meta prop type to cover all the prop types and enforce correct ts checking on meta.tsx props
  components/o-teaser/src/tsx/meta-link.tsx
  components/o-teaser/src/tsx/meta.tsx
  components/o-teaser/src/tsx/promoted.tsx
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/teaser.tsx
Owners: @Financial-Times/origami-core

backstage: refactor link.tsx and add correct prop types
  components/o-teaser/src/tsx/image.tsx
  components/o-teaser/src/tsx/link.tsx
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/standfirst.tsx
  components/o-teaser/src/tsx/teaser.tsx
  components/o-teaser/src/tsx/title.tsx
  components/o-teaser/src/tsx/video.tsx
Owners: @Financial-Times/origami-core

backstage: refactor title.tsx and export standfirst component
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/standfirst.tsx
  components/o-teaser/src/tsx/teaser.tsx
  components/o-teaser/src/tsx/title.tsx
Owners: @Financial-Times/origami-core

backstage: refactor standfirst.tsx and update props for the component
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/standfirst.tsx
  components/o-teaser/src/tsx/teaser.tsx
Owners: @Financial-Times/origami-core

backstage: move status.tsx and related components to it's own folder
  components/o-teaser/src/tsx/status/always-show-timestamp.tsx
  components/o-teaser/src/tsx/status/live-blog-status.tsx
  components/o-teaser/src/tsx/status/relative-time.tsx
  components/o-teaser/src/tsx/status/status.tsx
  components/o-teaser/src/tsx/status/time-stamp.tsx
  components/o-teaser/src/tsx/teaser.tsx
Owners: @Financial-Times/origami-core

backstage: update code workspace
  origami.code-workspace
Owners: @Financial-Times/origami-core

backstage: update lock-file
  package-lock.json
Owners: @Financial-Times/origami-core

docs: clean up o-loading readme
  components/o-loading/README.md
Owners: @Financial-Times/origami-core

backstage: add an o-loading tsx template
  components/o-loading/src/tsx/loading.tsx
Owners: @Financial-Times/origami-core

docs: add an o-loading storybook mdx document
  components/o-loading/stories/loading.scss
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

backstage: remove always-show component and rewrite it's logic to much simpler function that checks if it is today or not
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/status/always-show-timestamp.tsx
  components/o-teaser/src/tsx/status/relative-time.tsx
  components/o-teaser/src/tsx/status/status.tsx
Owners: @Financial-Times/origami-core

backstage: refactor status.tsx and clean up code from x-teaser. Update o-date so it supports o-teaser specific classes from o-teaser component
  components/o-date/src/tsx/date.tsx
  components/o-teaser/src/tsx/concerns/constants.ts
  components/o-teaser/src/tsx/concerns/date-time.js
  components/o-teaser/src/tsx/status/relative-time.tsx
  components/o-teaser/src/tsx/status/status.tsx
  components/o-teaser/src/tsx/status/time-stamp.tsx
Owners: @Financial-Times/origami-core

backstage: refactor Actions component and if no actions provided don't render empty div
  components/o-message/src/tsx/message.tsx
Owners: @Financial-Times/origami-core

docs: remove question marks from interface for those props are not proptional
  components/o-loading/src/tsx/loading.tsx
Owners: @Financial-Times/origami-core

docs: add withHtml decorator to the mdx story
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

docs: use template for making stories
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

docs: stop using template so the code panel works again
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

backstage: add classname instead of inline styling so users can differentiate between demo markup and actual o-message markup
  components/o-message/stories/message-alert.stories.tsx
  components/o-message/stories/message-notice.stories.tsx
  components/o-message/stories/message.scss
Owners: @Financial-Times/origami-core

backstage: fix invalid values for innner wrapper
  components/o-message/stories/message.scss
Owners: @Financial-Times/origami-core

feat: o-message tsx and storybook demos
  apps/storybook/config/main.js
  components/o-message/src/js/message.js
  components/o-message/src/tsx/message.tsx
  components/o-message/stories/message-action.stories.tsx
  components/o-message/stories/message-alert.stories.tsx
  components/o-message/stories/message-notice.stories.tsx
  components/o-message/stories/message.scss
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-message/CHANGELOG.md
  components/o-message/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@959a5c53a6b69c5c1952ca0699ac879e03846038 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.4fe9540e.iframe.bundle.js
  storybook/main.7c7cc9d2.iframe.bundle.js
Owners: @Financial-Times/origami-core

chore: release main (#768)
  .release-please-manifest.json
  components/o-message/CHANGELOG.md
  components/o-message/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@e770fd403cf4cc06e71e168a9032a7d7c3e625c2 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.6dddfb493abcef931533.manager.bundle.js
  storybook/main.ef29e54aa186fe8010c5.manager.bundle.js
Owners: @Financial-Times/origami-core

backstage: try different approach to o-date
  components/o-teaser/src/tsx/prop-types.ts
  components/o-teaser/src/tsx/status/relative-time.tsx
  components/o-teaser/src/tsx/status/status.tsx
  components/o-teaser/stories/args.ts
  components/o-teaser/stories/teaser.stories.tsx
Owners: @Financial-Times/origami-core

docs: clean up o-loading readme
  components/o-loading/README.md
Owners: @Financial-Times/origami-core

docs: remove question marks from interface for those props are not proptional
  components/o-loading/src/tsx/loading.tsx
Owners: @Financial-Times/origami-core

docs: use template for making stories
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

docs: stop using template so the code panel works again
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/content-innovation
components/o-comments/ @Financial-Times/content-innovation
components/o-video/ @Financial-Times/content-innovation

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform
