Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform

backstage: update code workspace
  origami.code-workspace
Owners: @Financial-Times/origami-core

backstage: add an o-loading tsx template
  components/o-loading/src/tsx/loading.tsx
Owners: @Financial-Times/origami-core

docs: add withHtml decorator to the mdx story
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

backstage: update lock-file
  package-lock.json
Owners: @Financial-Times/origami-core

docs: add an o-loading storybook mdx document
  components/o-loading/stories/loading.scss
  components/o-loading/stories/loading.stories.mdx
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@9f398471d63c9d9231b23d5233494d2af3009d87 🚀
  feed.xml
  sitemap.xml
  storybook/219.eb14cc5d.iframe.bundle.js
  storybook/219.eb14cc5d.iframe.bundle.js.LICENSE.txt
  storybook/219.eb14cc5d.iframe.bundle.js.map
  storybook/697.a6f0d842.iframe.bundle.js
  storybook/697.a6f0d842.iframe.bundle.js.map
  storybook/830.82fb7d88.iframe.bundle.js
  storybook/830.82fb7d88.iframe.bundle.js.LICENSE.txt
  storybook/830.82fb7d88.iframe.bundle.js.map
  storybook/851.8b51e9fe.iframe.bundle.js
  storybook/851.8b51e9fe.iframe.bundle.js.map
  storybook/iframe.html
  storybook/index.html
  storybook/main.09d4d09e.iframe.bundle.js
  storybook/main.3e3a24341111df5e2cb2.manager.bundle.js
  storybook/main.6dddfb493abcef931533.manager.bundle.js
  storybook/main.7c7cc9d2.iframe.bundle.js
  storybook/runtime~main.63c164ff.iframe.bundle.js
  storybook/runtime~main.c88a0bd4.iframe.bundle.js
Owners: @Financial-Times/origami-core

backstage: move o-date useEffect inside date.tsx so it can reinitialise JS when component renders in o-teaser.
  components/o-date/src/tsx/date.tsx
  components/o-date/stories/date.stories.tsx
  components/o-teaser/src/tsx/status/relative-time.tsx
  components/o-teaser/src/tsx/status/status.tsx
  components/o-teaser/src/tsx/status/time-stamp.tsx
  components/o-teaser/src/tsx/teaser.tsx
  components/o-teaser/stories/teaser.stories.tsx
Owners: @Financial-Times/origami-core

fix: alternate to a lighter background
  components/o-table/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

fix: remove the whitelist function & `TRACKING_ATTRIBUTES`
  components/o-audio/src/js/tracking.js
Owners: @Financial-Times/content-innovation

fix: update `o-audio` tracking test
  components/o-audio/test/tracking.test.js
Owners: @Financial-Times/content-innovation

fix: test description correction
  components/o-audio/test/tracking.test.js
Owners: @Financial-Times/content-innovation

fix: remove the whitelist function & `TRACKING_ATTRIBUTES`
  components/o-audio/src/js/tracking.js
Owners: @Financial-Times/content-innovation

fix: test description correction
  components/o-audio/test/tracking.test.js
Owners: @Financial-Times/content-innovation

fix: update `o-audio` tracking test
  components/o-audio/test/tracking.test.js
Owners: @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@5e5c186fa0e4e72d10869d62b05814924787fed4 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.09d4d09e.iframe.bundle.js
  storybook/main.b1814451.iframe.bundle.js
Owners: @Financial-Times/origami-core

fix: alternate to a lighter background
  components/o-table/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-audio/CHANGELOG.md
  components/o-audio/package.json
  components/o-table/CHANGELOG.md
  components/o-table/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@a4f2252f83c40165a4c1151196bffb93ad816a98 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.12486c32.iframe.bundle.js
  storybook/main.b1814451.iframe.bundle.js
Owners: @Financial-Times/origami-core

chore: release main (#772)
  .release-please-manifest.json
  components/o-audio/CHANGELOG.md
  components/o-audio/package.json
  components/o-table/CHANGELOG.md
  components/o-table/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@a1294bc522f9a84f3902ee279955acc2dd0a2eb4 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/index.html
  storybook/main.12486c32.iframe.bundle.js
  storybook/main.3e3a24341111df5e2cb2.manager.bundle.js
  storybook/main.8e5c6c85d82f83a7c249.manager.bundle.js
  storybook/main.b1814451.iframe.bundle.js
Owners: @Financial-Times/origami-core

feat: o-tracking, add test mode minus debug logs
  libraries/o-tracking/README.md
  libraries/o-tracking/src/javascript/core/send.js
  libraries/o-tracking/test/main.test.js
Owners: @Financial-Times/data-platform

feat: o-tracking, add test mode minus debug logs
  libraries/o-tracking/README.md
  libraries/o-tracking/src/javascript/core/send.js
  libraries/o-tracking/test/main.test.js
Owners: @Financial-Times/data-platform

chore: release main
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform

Deploying to origami.ft.com from @ Financial-Times/origami@fcea526f883ce422e5cd48f7b318242afa7fced8 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

backstage: add in prop types so some storyboook props can take strings but also will sugest other options
  components/o-teaser/src/tsx/Props.d.ts
Owners: @Financial-Times/origami-core

chore: release main (#774)
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform

Deploying to origami.ft.com from @ Financial-Times/origami@2bb8f29c821d17329cb305c61d7f7282235fca72 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.b1814451.iframe.bundle.js
  storybook/main.c42297d9.iframe.bundle.js
Owners: @Financial-Times/origami-core

fix: Fix error about converting isoDateStrings by decreaseing version numbers of dateformat library
  components/o-teaser/package.json
Owners: @Financial-Times/origami-core

backstage: rewrite args.ts to more es6 friendly way
  components/o-teaser/stories/args.ts
Owners: @Financial-Times/origami-core

backstage: update and format props file
  components/o-teaser/src/tsx/Props.d.ts
Owners: @Financial-Times/origami-core

backstage: filter out controls for each story
  components/o-teaser/stories/teaser.stories.tsx
Owners: @Financial-Times/origami-core

fix: Fix most of ts errors and instal domPurify to purify HTML for custom-slots
  components/o-teaser/package.json
  components/o-teaser/src/tsx/Props.ts
  components/o-teaser/src/tsx/always-show-timestamp.tsx
  components/o-teaser/src/tsx/custom-slot.tsx
  components/o-teaser/src/tsx/headshot.tsx
  components/o-teaser/src/tsx/image.tsx
  components/o-teaser/src/tsx/link.tsx
  components/o-teaser/src/tsx/live-blog-status.tsx
  components/o-teaser/src/tsx/meta-link.tsx
  components/o-teaser/src/tsx/meta.tsx
  components/o-teaser/src/tsx/promoted.tsx
  components/o-teaser/src/tsx/related-links.tsx
  components/o-teaser/src/tsx/relative-time.tsx
  components/o-teaser/src/tsx/standfirst.tsx
  components/o-teaser/src/tsx/status.tsx
  components/o-teaser/src/tsx/time-stamp.tsx
  components/o-teaser/src/tsx/title.tsx
  components/o-teaser/src/tsx/video.tsx
Owners: @Financial-Times/origami-core

fix: Fit remaning ts errors and convert image-service file to typescript file
  components/o-teaser/src/tsx/Props.ts
  components/o-teaser/src/tsx/concerns/image-service.js
  components/o-teaser/src/tsx/concerns/image-service.ts
  components/o-teaser/src/tsx/custom-slot.tsx
  components/o-teaser/src/tsx/image.tsx
  components/o-teaser/src/tsx/link.tsx
  components/o-teaser/src/tsx/meta-link.tsx
  components/o-teaser/src/tsx/video.tsx
Owners: @Financial-Times/origami-core

backstage: install packages so github check works
  package-lock.json
Owners: @Financial-Times/origami-core

backstage: make clear what controls are excluded from storybook
  components/o-teaser/stories/teaser.stories.tsx
Owners: @Financial-Times/origami-core

backstage: update prop type to more generic type
  components/o-teaser/src/tsx/link.tsx
Owners: @Financial-Times/origami-core

fix: remove react specific API from custom slot and make jsx template more generic so it can easily support other frameworks
  components/o-teaser/package.json
  components/o-teaser/src/tsx/Props.ts
  components/o-teaser/src/tsx/custom-slot.tsx
  components/o-teaser/stories/arg-types.ts
  components/o-teaser/stories/teaser.stories.tsx
Owners: @Financial-Times/origami-core

backstage: install packages from root folder
  package-lock.json
Owners: @Financial-Times/origami-core

fix: Fix incorect rendering of action message for core brand
  components/o-message/stories/message-action.stories.tsx
Owners: @Financial-Times/origami-core

backstage: setup storybook for o header and render first example
  components/o-header/src/tsx/header.tsx
  components/o-header/stories/header.scss
  components/o-header/stories/header.stories.tsx
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/content-innovation
components/o-comments/ @Financial-Times/content-innovation
components/o-video/ @Financial-Times/content-innovation

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform
