Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core

fix: fix issue with astro build by adding postcss config
  apps/for-everyone-website/package.json
  apps/for-everyone-website/postcss.config.cjs
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

feat: change Tip componene API and use array instead of slots for sources
  apps/for-everyone-website/src/components/utils/Tip.astro
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
Owners: @Financial-Times/origami-core

feat: add styles to form wrapper so it has proper gap, is always aligned left and is stacked vertically
  components/o3-form/src/css/components/form.css
Owners: @Financial-Times/origami-core

docs: - add examples and guidlines for form intro page - organise folders to make it clear where do preveiws, guidlines and exmaples go
  apps/for-everyone-website/src/components/form/Guideline-required-optional.astro
  apps/for-everyone-website/src/components/form/examples/Disabled-state.astro
  apps/for-everyone-website/src/components/form/examples/Input-validation.astro
  apps/for-everyone-website/src/components/form/examples/Page-level-validation.astro
  apps/for-everyone-website/src/components/form/guidelines/Form-submission.astro
  apps/for-everyone-website/src/components/form/guidelines/Labels-grouping.astro
  apps/for-everyone-website/src/components/form/guidelines/Placement-order.astro
  apps/for-everyone-website/src/components/form/guidelines/Required-optional.astro
  apps/for-everyone-website/src/components/form/preview/Error-summary.tsx
  apps/for-everyone-website/src/components/form/preview/Input-disabled-state.tsx
  apps/for-everyone-website/src/components/form/preview/Input-error.tsx
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
Owners: @Financial-Times/origami-core

fix: dont display other brands demos since we dont have tokens for it yet.
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
Owners: @Financial-Times/origami-core

docs: make it clear that o3-forms is coming for other brands but currenlty users can use whitelabel
  apps/for-everyone-website/src/components/form/anatomy/Text-input.astro
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
Owners: @Financial-Times/origami-core

chore: merge staging docs
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
Owners: @Financial-Times/origami-core

Or 960/add o3 form docs (#1849)
  apps/for-everyone-website/package.json
  apps/for-everyone-website/postcss.config.cjs
  apps/for-everyone-website/public/assets/images/documentation/components/tip.svg
  apps/for-everyone-website/src/components/form/anatomy/Text-input.astro
  apps/for-everyone-website/src/components/form/examples/Disabled-state.astro
  apps/for-everyone-website/src/components/form/examples/Input-validation.astro
  apps/for-everyone-website/src/components/form/examples/Page-level-validation.astro
  apps/for-everyone-website/src/components/form/guidelines/Form-submission.astro
  apps/for-everyone-website/src/components/form/guidelines/Labels-grouping.astro
  apps/for-everyone-website/src/components/form/guidelines/Placement-order.astro
  apps/for-everyone-website/src/components/form/guidelines/Required-optional.astro
  apps/for-everyone-website/src/components/form/preview/Error-summary.tsx
  apps/for-everyone-website/src/components/form/preview/Input-disabled-state.tsx
  apps/for-everyone-website/src/components/form/preview/Input-error.tsx
  apps/for-everyone-website/src/components/utils/Tip.astro
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
  components/o3-form/src/css/components/form-field.css
  components/o3-form/src/css/components/form.css
  components/o3-form/src/tsx/PasswordInput.tsx
  components/o3-form/src/tsx/TextInput.tsx
  components/o3-form/src/tsx/fieldComponents/FormField.tsx
  components/o3-form/src/tsx/index.ts
  components/o3-form/src/types/index.ts
  components/o3-form/stories/core/passwordInput.stories.tsx
  components/o3-form/stories/core/professional/passwordInput.stories.tsx
  components/o3-form/stories/core/professional/textInput.stories.tsx
  components/o3-form/stories/core/textInput.stories.tsx
  components/o3-form/stories/internal/passwordInput.stories.tsx
  components/o3-form/stories/internal/textInput.stories.tsx
  components/o3-form/stories/sustainable-views/passwordInput.stories.tsx
  components/o3-form/stories/sustainable-views/textInput.stories.tsx
  components/o3-form/stories/whitelabel/passwordInput.stories.tsx
  components/o3-form/stories/whitelabel/textInput.stories.tsx
  libraries/o3-figma-sb-links/src/figma-links.json
  libraries/o3-figma-sb-links/src/links.json
  libraries/o3-figma-sb-links/src/sb-links.json
  package-lock.json
  tools/o3-compilation/index.js
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

docs: add text-input docs - update tip.astro api and remove named slots since there is only one slot at the moment
  apps/for-everyone-website/src/components/form/anatomy/Text-input.astro
  apps/for-everyone-website/src/components/form/examples/Input-short-text.astro
  apps/for-everyone-website/src/components/form/examples/Input-width.astro
  apps/for-everyone-website/src/components/form/preview/Input-short-text.tsx
  apps/for-everyone-website/src/components/form/preview/Input-width.tsx
  apps/for-everyone-website/src/components/utils/Tip.astro
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
Owners: @Financial-Times/origami-core

chore: move password type to types file and fix ts error related to extending wrong type
  components/o3-form/src/tsx/PasswordInput.tsx
  components/o3-form/src/types/index.ts
Owners: @Financial-Times/origami-core

docs: add password-input docs
  apps/for-everyone-website/src/components/form/anatomy/Password-input.astro
  apps/for-everyone-website/src/components/form/examples/Input-password-validation.astro
  apps/for-everyone-website/src/components/form/examples/Input-password.astro
  apps/for-everyone-website/src/components/form/preview/Input-password-validation.tsx
  apps/for-everyone-website/src/components/form/preview/Input-password.tsx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o3-form/CHANGELOG.md
  components/o3-form/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: update changelog
  components/o3-form/CHANGELOG.md
Owners: @Financial-Times/origami-core

chore: update package-lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: release main (#1851)
  .release-please-manifest.json
  components/o3-form/CHANGELOG.md
  components/o3-form/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

docs: add error-summary to docs pages
  apps/for-everyone-website/src/components/form/anatomy/Error-summary.astro
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
Owners: @Financial-Times/origami-core

docs: add checkbox to docs
  apps/for-everyone-website/src/components/form/anatomy/Checkbox.astro
  apps/for-everyone-website/src/components/form/examples/Checkbox-group.astro
  apps/for-everyone-website/src/components/form/examples/Checkbox-selection-state.astro
  apps/for-everyone-website/src/components/form/preview/Checkbox-group.tsx
  apps/for-everyone-website/src/components/form/preview/Checkbox-selected-states.tsx
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
Owners: @Financial-Times/origami-core

docs: add radiobutton to docs
  apps/for-everyone-website/astro.config.mjs
  apps/for-everyone-website/src/components/form/anatomy/Radio-button.astro
  apps/for-everyone-website/src/components/form/examples/Radio-button-group.astro
  apps/for-everyone-website/src/components/form/guidelines/Radio-button-exclusive-choices.astro
  apps/for-everyone-website/src/components/form/guidelines/RadioButtonGroup.tsx
  apps/for-everyone-website/src/components/form/preview/Radio-group.tsx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
Owners: @Financial-Times/origami-core

chore: update package.lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: add types in compilation tool and generate links for o3-figma-sb-links package
  libraries/o3-figma-sb-links/src/figma-links.json
  libraries/o3-figma-sb-links/src/links.json
  libraries/o3-figma-sb-links/src/sb-links.json
  tools/o3-compilation/index.js
Owners: @Financial-Times/origami-core

fix: fix issue with astro build and development server
  apps/for-everyone-website/astro.config.mjs
  apps/for-everyone-website/package.json
  apps/for-everyone-website/src/components/form/examples/Checkbox-group.astro
  apps/for-everyone-website/src/components/form/examples/Checkbox-selection-state.astro
  apps/for-everyone-website/src/components/form/examples/Disabled-state.astro
  apps/for-everyone-website/src/components/form/examples/Input-password-validation.astro
  apps/for-everyone-website/src/components/form/examples/Input-password.astro
  apps/for-everyone-website/src/components/form/examples/Input-short-text.astro
  apps/for-everyone-website/src/components/form/examples/Input-validation.astro
  apps/for-everyone-website/src/components/form/examples/Input-width.astro
  apps/for-everyone-website/src/components/form/examples/Page-level-validation.astro
  apps/for-everyone-website/src/components/form/examples/Radio-button-group.astro
  apps/for-everyone-website/src/components/form/guidelines/Form-submission.astro
  apps/for-everyone-website/src/components/form/guidelines/Placement-order.astro
  apps/for-everyone-website/src/components/form/guidelines/RadioButtonGroup.tsx
  apps/for-everyone-website/src/components/form/guidelines/Required-optional.astro
  apps/for-everyone-website/src/components/form/preview/Checkbox-group.tsx
  apps/for-everyone-website/src/components/form/preview/Checkbox-selected-states.tsx
  apps/for-everyone-website/src/components/form/preview/Radio-group.tsx
  apps/for-everyone-website/src/components/utils/FigmaSbLinks.astro
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
  components/o3-form/src/tsx/PasswordInput.tsx
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: generate new package-lock file and fix build issue
  apps/for-everyone-website/astro.config.mjs
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: o-header subnav primary link styles
  components/o-header/src/scss/_mixins.scss
  components/o-header/src/scss/features/_nav.scss
  components/o-header/src/scss/features/_subnav.scss
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/components/form/guidelines/Radio-button-exclusive-choices.astro
  apps/for-everyone-website/src/components/form/guidelines/Radio-button-exclusive-choices.astro
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
Owners: @Financial-Times/origami-core

docs: Update apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
Owners: @Financial-Times/origami-core

docs: make forms docs clearer
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
Owners: @Financial-Times/origami-core

chore: duplicated whitelabel form tokens into the core brand
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/components/o3-form/use-case.json
  apps/dictionary/tokens/core/professional/use-case/typography.json
  apps/dictionary/tokens/core/use-case/typography.json
  apps/dictionary/tokens/internal/use-case/typography.json
  apps/dictionary/tokens/sustainable-views/use-case/typography.json
  apps/dictionary/tokens/whitelabel/use-case/typography.json
Owners: @Financial-Times/origami-core

chore: enable whitelabel for core brand
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/professional/use-case/typography.json
  apps/dictionary/tokens/core/use-case/typography.json
  apps/dictionary/tokens/internal/use-case/typography.json
  apps/dictionary/tokens/sustainable-views/use-case/typography.json
  apps/dictionary/tokens/whitelabel/components/o3-form/use-case.json
  apps/dictionary/tokens/whitelabel/use-case/typography.json
  apps/dictionary/tokens/whitelabel/whitelabel.json
Owners: @Financial-Times/origami-core

chore: remove typography core from base set tokens
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/base/border-radius.json
  apps/dictionary/tokens/core/base/spacing.json
  apps/dictionary/tokens/core/base/typography.json
  apps/dictionary/tokens/whitelabel/base/spacing.json
Owners: @Financial-Times/origami-core

chore: remove dublicate tokens between whitelabel and core
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/base/color.json
  apps/dictionary/tokens/core/professional/use-case/typography.json
  apps/dictionary/tokens/core/use-case/typography.json
  apps/dictionary/tokens/whitelabel/base/color.json
  apps/dictionary/tokens/whitelabel/base/spacing.json
  apps/dictionary/tokens/whitelabel/use-case/typography.json
Owners: @Financial-Times/origami-core

feat: o-header subnav primary styles
  components/o-header/README.md
  components/o-header/src/scss/_mixins.scss
  components/o-header/src/scss/features/_nav.scss
  components/o-header/src/scss/features/_subnav.scss
Owners: @Financial-Times/origami-core

fix: fix displaying two show passowrd checkbox and add link styling
  components/o3-form/src/css/components/password-input.css
  components/o3-form/src/tsx/PasswordInput.tsx
Owners: @Financial-Times/origami-core

docs: add WIP lalbel for components in o3-form
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
  apps/for-everyone-website/src/content/docs/components/buttons.mdx
Owners: @Financial-Times/origami-core

fix: fix accessibility issues with input elements not being associated to labels
  apps/for-everyone-website/src/components/Example.astro
  apps/for-everyone-website/src/components/form/guidelines/Labels-grouping.astro
  apps/for-everyone-website/src/components/utils/Tip.astro
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  components/o3-form/src/tsx/PasswordInput.tsx
  components/o3-form/src/tsx/TextInput.tsx
Owners: @Financial-Times/origami-core
