Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

fix: fix o-layout colour names
  components/o-layout/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

chore: Ensure correct link colours and scale sizes
  components/o-private-foundation/src/scss/o-typography/main.scss
  components/o-typography/stories/typography.scss
Owners: @Financial-Times/origami-core

chore: Correct implicit o-icons dependency
  components/n-notification/main.scss
  components/n-notification/package.json
Owners: @Financial-Times/content-discovery, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-type from o-banner demos to fix issue with them building
  components/o-banner/demos/src/demo.scss
Owners: @Financial-Times/origami-core

chore: Remove o-type from o-header-services demos to fix issue with them building
  components/o-header-services/demos/src/main.scss
  components/o-header-services/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-type from o-labels demos to fix demo build issue
  components/o-labels/demos/src/demo.scss
  components/o-labels/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Correct o-private-foundation import in o-meter
  components/o-meter/main.scss
Owners: @Financial-Times/origami-core

chore: Remove o-buttons use in o-subs-card
  components/o-subs-card/src/scss/_mixins.scss
Owners: @Financial-Times/acquisition

chore: Add missing normalise import to o-teaser demos
  components/o-teaser/demos/src/demo.scss
Owners: @Financial-Times/origami-core

chore: Fix o-teaser-collection demo
  components/o-teaser-collection/demos/src/demo.scss
  components/o-teaser-collection/main.scss
  components/o-teaser-collection/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Ensure all components output new fonts with oPrivateFoundation
  components/n-notification/main.scss
  components/o-big-number/main.scss
  components/o-footer-services/main.scss
  components/o-meter/main.scss
  components/o-quote/main.scss
  components/o-topper/main.scss
Owners: @Financial-Times/content-discovery, @Financial-Times/origami-core

chore: Remove deprecated imports from o-topper
  components/o-topper/demos/src/demo.scss
  components/o-topper/main.scss
  components/o-topper/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of ft-concept-button
  components/ft-concept-button/main.scss
  components/ft-concept-button/package.json
  components/ft-concept-button/stories/concept-button.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-table
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
  components/o-private-foundation/src/scss/o-typography/main.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/scss/_base.scss
  components/o-table/src/scss/_compact.scss
  components/o-visual-effects/stories/visual-effects.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-banner
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-banner/src/scss/themes/_theme.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-typography as a dependency of o-video
  components/o-private-foundation/src/scss/o-typography/main.scss
  components/o-video/src/scss/_guidance.scss
  components/o-video/src/scss/_info.scss
  components/o-video/src/scss/_placeholder.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling

chore: Remove todo about italic font faces
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

chore: Remove missed use of oSpacingByName in o-header-services
  components/o-header-services/src/scss/_secondary-nav.scss
Owners: @Financial-Times/origami-core

chore: Remove renaming o-spacing references
  components/o-editorial-typography/main.scss
  components/o-editorial-typography/package.json
  components/o-header-services/main.scss
  components/o-typography/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

fix: fix o-teaser-collection colour names
  components/o-teaser-collection/main.scss
Owners: @Financial-Times/origami-core

fix: fix various components
  components/o-share/src/scss/_brand.scss
  components/o-share/src/scss/_color-use-cases.scss
Owners: @Financial-Times/origami-core

fix: Use latest icon suit where icons are embded in markup, and do not come from the Origami Image Service
  components/o-share/demos/src/data.json
  components/o-share/src/tsx/svgComponents.tsx
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
