Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

chore: correct build errors
  components/o-header-services/main.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
Owners: @Financial-Times/origami-core

fix: Add missing tokens for the whitelabel inverse button
  apps/dictionary/tokens/whitelabel/components/o3-button.json
  components/o3-button/src/css/tokens/whitelabel/o3-button/_variables.css
Owners: @Financial-Times/origami-core

fix: Add missing tokens for the whitelabel inverse button (#1884)
  apps/dictionary/tokens/whitelabel/components/o3-button.json
  components/o3-button/src/css/tokens/whitelabel/o3-button/_variables.css
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: Add public function to get the current brand.
  libraries/o-brand/scss/_private-functions.scss
  libraries/o-brand/scss/_public-functions.scss
Owners: @Financial-Times/origami-core

chore: remove private-foundations
  components/o-comments/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

feat: introduce o visual effects (#1877)
  components/o-autocomplete/main.scss
  components/o-autocomplete/package.json
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-cookie-message/main.scss
  components/o-cookie-message/package.json
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_drawer.scss
  components/o-header-services/src/scss/_secondary-nav.scss
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_megamenu.scss
  components/o-header/src/scss/features/_sticky.scss
  components/o-layout/main.scss
  components/o-layout/package.json
  components/o-layout/src/scss/_mixins.scss
  components/o-overlay/main.scss
  components/o-overlay/package.json
  components/o-overlay/src/scss/_mixins.scss
  components/o-private-foundation/src/scss/o-visual-effects/main.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_shadows.scss
  components/o-private-foundation/src/scss/o-visual-effects/scss/_variables.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/scss/_responsive-overflow.scss
  components/o-tooltip/main.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass import from o-header
  components/o-header/main.scss
Owners: @Financial-Times/origami-core

backstage: Update private buttons to actually use type/theme argument
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-tabs dependency
  components/o-tabs/README.md
  components/o-tabs/main.scss
  components/o-tabs/package.json
  components/o-tabs/src/scss/_buttontabs.scss
  components/o-tabs/stories/tabs.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons as an o-forms peer dependency
  components/o-forms/README.md
  components/o-forms/package.json
  components/o-forms/src/scss/_file-input.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/stories/forms.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: align o-private-foundation/o-normalise directory structure (#1874)
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/src/scss/themes/_theme.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/src/scss/_base.scss
  components/o-header/src/scss/_base.scss
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/demos/src/demo.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
  components/o-private-foundation/src/scss/o-normalise/_variables.scss
  components/o-private-foundation/src/scss/o-normalise/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-tooltip/main.scss
  components/o-video/main.scss
  presets/stylelint-config-origami-component/config.js
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger, @Financial-Times/acquisition, @Financial-Times/storytelling

backstage: Replace o-buttons with o-private-foundation in o-table
  components/o-table/demos/src/demo.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/js/Tables/OverflowTable.js
  components/o-table/src/scss/_responsive-overflow.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: fix private button force-colors and family
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Add initial buttons support to o-private-foundations
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

Remove o-buttons as an o-message dependency (#1882)
  components/o-message/README.md
  components/o-message/demos/src/demo.scss
  components/o-message/main.scss
  components/o-message/package.json
  components/o-message/src/scss/_mixins.scss
  components/o-message/stories/docs/sassdoc.md
  components/o-private-foundation/src/scss/o-buttons/custom-themes.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove example css
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

backstage: Throw in o-private-foundation if a token is not found
  components/o-comments/main.scss
  components/o-comments/package.json
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Remove o-buttons as an o-header dependency
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/_variables.scss
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_search.scss
  components/o-header/src/scss/features/_transparent.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Reduce use of Sass modules to prevent errors when importing multiple times via other components.
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Map tokens to o2 brand pattern
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_tokens.scss
  package-lock.json
  tools/demo-build/build-sass.js
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Update o-table to use latest o-private-foundation changes.
  components/o-table/src/scss/_responsive-overflow.scss
Owners: @Financial-Times/origami-core

feat: introduce o-private-foundation (#1863)
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  apps/dictionary/src/build.js
  apps/dictionary/src/config/platforms/sass.js
  components/o-private-foundation/.eslintignore
  components/o-private-foundation/.eslintrc.cjs
  components/o-private-foundation/.gitignore
  components/o-private-foundation/.npmignore
  components/o-private-foundation/.remarkrc.cjs
  components/o-private-foundation/.stylelintignore
  components/o-private-foundation/.stylelintrc.cjs
  components/o-private-foundation/README.md
  components/o-private-foundation/origami.json
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_variables.scss
  components/o-private-foundation/src/scss/tokens/core.scss
  components/o-private-foundation/src/scss/tokens/internal.scss
  components/o-private-foundation/src/scss/tokens/professional.scss
  components/o-private-foundation/src/scss/tokens/sustainable-views.scss
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
  origami.code-workspace
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

docs: Update components/o-private-foundation/src/scss/o-buttons/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

docs: Remove misleading SassDoc
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-comments dependency
  components/o-comments/main.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling

backstage: Remove stories
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
Owners: @Financial-Times/origami-core

chore: release main (#1885)
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass import from o-banner
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/themes/_theme.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass import from o-header-services
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_base.scss
  components/o-header-services/src/scss/_secondary-nav.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass from o-top-banner
  components/o-top-banner/main.scss
  components/o-top-banner/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Map previous professional theme to token sub-brand in buttons
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

docs: Remove oButton reference from Sass comment
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling

backstage: Remove o-buttons Sass from o-cookie-message
  components/o-cookie-message/main.scss
  components/o-cookie-message/package.json
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons Sass from o-subs-card
  components/o-subs-card/main.scss
  components/o-subs-card/package.json
  components/o-subs-card/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_themes.scss
Owners: @Financial-Times/acquisition, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-visual-effects deps that I put back in a bad rebase
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-header-services/package.json
  components/o-header/main.scss
  components/o-tooltip/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Generate Sass tokens with missing whitelabel inverse button colours
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
Owners: @Financial-Times/origami-core

chore: Ensure no CSS is output without calling a primary mixin in o2 components
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/main.scss
  components/o-comments/src/scss/_mixins.scss
  components/o-cookie-message/main.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/main.scss
  components/o-header/main.scss
  components/o-layout/main.scss
  components/o-message/main.scss
  components/o-multi-select/main.scss
  components/o-overlay/main.scss
  components/o-private-foundation/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/main.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-table/main.scss
  components/o-tabs/main.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-tooltip/main.scss
  components/o-top-banner/main.scss
  components/o-video/main.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition

chore: Remove o-button devDeps where a mixin is used in demos without any button markup
  components/o-banner/demos/src/demo.scss
  components/o-message/demos/src/demo.scss
  components/o-message/package.json
  components/o-visual-effects/stories/visual-effects.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: correct mixin name
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
