Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

chore: Apply suggestions from code review
  components/o-forms/src/scss/_radio-box.scss
Owners: @Financial-Times/origami-core

chore: refactor variable name
  components/o-header/main.scss
Owners: @Financial-Times/origami-core

chore: refactor build issues
  components/o-table/package.json
  components/o-topper/src/scss/_variables.scss
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Remove o-buttons Sass import from o-header-services
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_base.scss
  components/o-header-services/src/scss/_secondary-nav.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Ensure no CSS is output without calling a primary mixin in o2 components
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/main.scss
  components/o-comments/src/scss/_mixins.scss
  components/o-cookie-message/main.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/main.scss
  components/o-header/main.scss
  components/o-layout/main.scss
  components/o-message/main.scss
  components/o-multi-select/main.scss
  components/o-overlay/main.scss
  components/o-private-foundation/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/main.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-table/main.scss
  components/o-tabs/main.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-tooltip/main.scss
  components/o-top-banner/main.scss
  components/o-video/main.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition

backstage: Remove o-buttons Sass import from o-banner
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/themes/_theme.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: correct mixin name
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons Sass from o-subs-card
  components/o-subs-card/main.scss
  components/o-subs-card/package.json
  components/o-subs-card/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_themes.scss
Owners: @Financial-Times/acquisition, @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: Remove o-button devDeps where a mixin is used in demos without any button markup
  components/o-banner/demos/src/demo.scss
  components/o-message/demos/src/demo.scss
  components/o-message/package.json
  components/o-visual-effects/stories/visual-effects.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Map previous professional theme to token sub-brand in buttons
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons Sass from o-cookie-message
  components/o-cookie-message/main.scss
  components/o-cookie-message/package.json
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Apply suggestions from code review
  components/o-forms/src/scss/_radio-box.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons Sass from o-top-banner
  components/o-top-banner/main.scss
  components/o-top-banner/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Remove o-visual-effects deps that I put back in a bad rebase
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-header-services/package.json
  components/o-header/main.scss
  components/o-tooltip/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: Generate Sass tokens with missing whitelabel inverse button colours
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
Owners: @Financial-Times/origami-core

docs: Remove oButton reference from Sass comment
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/storytelling

chore: Remove selector-no-qualifying-type linting
  components/o-colors/demos/src/color-mixer/color-mixer.scss
  components/o-colors/demos/src/contrast-checker/contrast-checker.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-editorial-typography/test/scss/_mixins.test.scss
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_date.scss
  components/o-forms/src/scss/_deprecated.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-forms/src/scss/_select.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_custom.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-header-services/src/scss/_drawer.scss
  components/o-header-services/src/scss/_drop-down.scss
  components/o-header-services/src/scss/_primary-nav.scss
  components/o-header-services/src/scss/_secondary-nav.scss
  components/o-layout/src/scss/_mixins.scss
  components/o-normalise/src/scss/_mixins.scss
  components/o-table/src/scss/_base.scss
  components/o-table/src/scss/_borders.scss
  components/o-table/src/scss/_responsive-scroll.scss
  components/o-table/src/scss/_sort.scss
  components/o3-button/main.css
  components/o3-foundation/src/css/components/normalise.css
  presets/stylelint-config-origami-component/config.js
  tools/o3-chrome-extension/src/styles/popup.css
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling

chore: remove private spacing
  components/o-private-foundation/src/scss/o-grid/_functions.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
  components/o-private-foundation/src/scss/o-grid/_variables.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: restore pf to variables
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
Owners: @Financial-Times/origami-core

chore: Remove selector-no-qualifying-type linting (#1886)
  components/o-colors/demos/src/color-mixer/color-mixer.scss
  components/o-colors/demos/src/contrast-checker/contrast-checker.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-editorial-typography/test/scss/_mixins.test.scss
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_date.scss
  components/o-forms/src/scss/_deprecated.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-forms/src/scss/_select.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_custom.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-header-services/src/scss/_drawer.scss
  components/o-header-services/src/scss/_drop-down.scss
  components/o-header-services/src/scss/_primary-nav.scss
  components/o-header-services/src/scss/_secondary-nav.scss
  components/o-layout/src/scss/_mixins.scss
  components/o-normalise/src/scss/_mixins.scss
  components/o-table/src/scss/_base.scss
  components/o-table/src/scss/_borders.scss
  components/o-table/src/scss/_responsive-scroll.scss
  components/o-table/src/scss/_sort.scss
  components/o3-button/main.css
  components/o3-foundation/src/css/components/normalise.css
  presets/stylelint-config-origami-component/config.js
  tools/o3-chrome-extension/src/styles/popup.css
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling

chore: regen package lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

docs: Fix broken links and improve technical guide discoverability
  apps/for-everyone-website/src/content/docs/getting-started/index.md
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide.mdx
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide/o3-specification.md
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide/package-manager-npm.md
Owners: @Financial-Times/origami-core

chore: reintroduce relative units
  .github/workflows/test.yml
  components/o-private-foundation/src/scss/o-spacing/_variables.scss
Owners: @Financial-Times/origami-core

docs: Fix broken links and improve technical guide discoverability (#1887)
  apps/for-everyone-website/src/content/docs/getting-started/index.md
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide.mdx
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide/o3-specification.md
  apps/for-everyone-website/src/content/docs/getting-started/technical-guide/package-manager-npm.md
Owners: @Financial-Times/origami-core

chore: increase max-parallel to 4
  .github/workflows/test.yml
Owners: @Financial-Times/origami-core

chore: Install only once for component tests
  .github/workflows/test.yml
Owners: @Financial-Times/origami-core

chore: if i am in main something went wrong, merry 2024
  components/o-banner/stories/banner.scss
  components/o-buttons/stories/button.scss
Owners: @Financial-Times/origami-core

chore: oops
  .github/workflows/test.yml
  templates/test-workflow.yml
Owners: @Financial-Times/origami-core

chore: if i am in main something went wrong, merry 2024
  components/o-banner/stories/banner.scss
  components/o-buttons/stories/button.scss
Owners: @Financial-Times/origami-core

chore: oops
  .github/workflows/test.yml
Owners: @Financial-Times/origami-core

chore: lint sass
  components/o-header-services/main.scss
  components/o-message/demos/src/demo.scss
  components/o-multi-select/demos/src/demo.scss
  components/o-multi-select/main.scss
  components/o-overlay/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-subs-card/main.scss
Owners: @Financial-Times/origami-core, @Financial-Times/acquisition

chore: remove normalise
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-header-services/src/scss/_base.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
  components/o-private-foundation/o-normalise/src/scss/_variables.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core, @Financial-Times/acquisition

chore: lint sass
  components/o-header/main.scss
  components/o-layout/main.scss
Owners: @Financial-Times/origami-core

feat: use tokens for colours
  components/o-buttons/test/scss/_mixins.test.scss
  components/o-loading/main.scss
  components/o-loading/package.json
  components/o-teaser/src/scss/elements/_syndication.scss
  components/o-teaser/src/scss/themes/_package.scss
  components/o-teaser/src/scss/themes/_small.scss
  components/o-topper/main.scss
  components/o-topper/package.json
  components/o-topper/src/scss/_mixins.scss
  components/o-topper/src/scss/themes/_package.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: use tokens for colours
  components/o-buttons/src/scss/_functions.scss
  components/o-buttons/test/scss/_functions.test.scss
  components/o-loading/src/scss/_brand.scss
  components/o-teaser/src/scss/elements/_default.scss
  components/o-topper/src/scss/_elements.scss
  components/o-topper/src/scss/themes/_branded.scss
Owners: @Financial-Times/origami-core

chore: remove unused mixin
  components/o-labels/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

chore: use tokens instead of colours mixin
  components/o-forms/demos/src/demo.scss
  components/o-forms/src/scss/modifiers/_custom.scss
  components/o-loading/src/scss/_brand.scss
  components/o-topper/src/scss/_elements.scss
Owners: @Financial-Times/origami-core

chore: remove custom setting of colour
  components/o-labels/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

chore: use tokens instead of oColorsByName
  components/o-message/demos/src/demo.scss
  components/o-message/main.scss
  components/o-message/src/scss/_mixins.scss
  components/o-teaser/src/scss/themes/_hero.scss
  components/o-topper/src/scss/_mixins.scss
  components/o-topper/src/scss/_variables.scss
  components/o-topper/src/scss/themes/_deep-landscape.scss
  components/o-topper/src/scss/themes/_deep-portrait.scss
  components/o-topper/src/scss/themes/_split-text.scss
Owners: @Financial-Times/origami-core

chore: use private use case
  components/o-forms/src/scss/_toggle.scss
  components/o-layout/src/scss/_grid.scss
  components/o-private-foundation/src/scss/o-colors/_functions.scss
  components/o-share/src/scss/_mixins.scss
  components/o-teaser/src/scss/_variables.scss
  components/o-teaser/src/scss/elements/_default.scss
  components/o-teaser/src/scss/themes/_hero.scss
  components/o-teaser/src/scss/themes/_large.scss
  components/o-teaser/src/scss/themes/_package.scss
  components/o-teaser/src/scss/themes/_small.scss
  components/o-teaser/src/scss/themes/_standard.scss
  components/o-teaser/src/scss/themes/_top-stories.scss
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
