Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

fix: fix space issue between legend and items in fieldset component
  components/o3-form/src/css/components/form-field.css
  components/o3-form/src/tsx/fieldComponents/FormField.tsx
Owners: @Financial-Times/origami-core

fix: add focus styles for radio and checkbox buttons
  components/o3-form/src/css/components/checkbox.css
  components/o3-form/src/css/components/radio-button.css
Owners: @Financial-Times/origami-core

feat: add timestamp to session generations in o-tracking
  libraries/o-tracking/src/javascript/core.js
  libraries/o-tracking/src/javascript/core/session.js
  libraries/o-tracking/src/javascript/utils.js
  libraries/o-tracking/test/core.test.js
  libraries/o-tracking/test/core/session.test.js
Owners: @Financial-Times/data-platform

chore: bump o-tracking version
  libraries/o-tracking/package.json
  libraries/o-tracking/src/javascript/tracking.js
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core, @Financial-Times/data-platform

chore: added tokens for core
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/components/o3-form/use-case.json
  apps/dictionary/tokens/core/use-case/color.json
  apps/dictionary/tokens/internal/use-case/color.json
  apps/dictionary/tokens/whitelabel/components/o3-form/use-case.json
  apps/dictionary/tokens/whitelabel/use-case/color.json
Owners: @Financial-Times/origami-core

fix: version fix
  libraries/o-tracking/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: all brand styles for inputs besides professional
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/professional/use-case/color.json
  apps/dictionary/tokens/internal/components/o3-forms.json
  apps/dictionary/tokens/sustainable-views/components/o3-forms.json
  apps/dictionary/tokens/sustainable-views/use-case/color.json
  apps/dictionary/tokens/whitelabel/components/o3-form/use-case.json
Owners: @Financial-Times/origami-core

chore: added final touches (professional tokens)
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/professional/components/o3-form/use-case.json
Owners: @Financial-Times/origami-core

feat: o-header subnav primary styles (#1853)
  components/o-header/README.md
  components/o-header/src/scss/_mixins.scss
  components/o-header/src/scss/features/_nav.scss
  components/o-header/src/scss/features/_subnav.scss
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: release main (#1857)
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: refactor order of o3-forms and add missing colours inside sw brand
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/core/components/o3-form.json
  apps/dictionary/tokens/core/professional/components/o3-form.json
  apps/dictionary/tokens/core/use-case/color.json
  apps/dictionary/tokens/internal/components/o3-form.json
  apps/dictionary/tokens/internal/components/o3-form/use-case.json
  apps/dictionary/tokens/internal/use-case/color.json
  apps/dictionary/tokens/sustainable-views/base/color.json
  apps/dictionary/tokens/sustainable-views/components/o3-form.json
  apps/dictionary/tokens/sustainable-views/components/o3-form/use-case.json
  apps/dictionary/tokens/sustainable-views/use-case/color.json
  apps/dictionary/tokens/whitelabel/use-case/color.json
  apps/dictionary/tokens/whitelabel/whitelabel.json
Owners: @Financial-Times/origami-core

feat: generate tokens for all brands for o3-form
  components/o3-form/src/css/brands/core.css
  components/o3-form/src/css/brands/internal.css
  components/o3-form/src/css/brands/professional.css
  components/o3-form/src/css/brands/sustainable-views.css
  components/o3-form/src/css/tokens/core/o3-form/_variables.css
  components/o3-form/src/css/tokens/core/professional/o3-form/_variables.css
  components/o3-form/src/css/tokens/internal/o3-form/_variables.css
  components/o3-form/src/css/tokens/sustainable-views/o3-form/_variables.css
Owners: @Financial-Times/origami-core

feat: generate tokens for o3-form for different brands
  components/o3-form/src/css/components/checkbox.css
  components/o3-form/src/css/components/radio-button.css
  components/o3-form/src/css/components/text-input.css
  components/o3-form/src/css/tokens/whitelabel/o3-form/_variables.css
  components/o3-form/stories/core/checkbox-group.stories.tsx
  components/o3-form/stories/core/checkbox.stories.tsx
  components/o3-form/stories/core/error-summary.stories.tsx
  components/o3-form/stories/core/passwordInput.stories.tsx
  components/o3-form/stories/core/professional/checkbox-group.stories.tsx
  components/o3-form/stories/core/professional/checkbox.stories.tsx
  components/o3-form/stories/core/professional/error-summary.stories.tsx
  components/o3-form/stories/core/professional/passwordInput.stories.tsx
  components/o3-form/stories/core/professional/radio-button.stories.tsx
  components/o3-form/stories/core/professional/textInput.stories.tsx
  components/o3-form/stories/core/radio-button.stories.tsx
  components/o3-form/stories/core/textInput.stories.tsx
  components/o3-form/stories/internal/checkbox-group.stories.tsx
  components/o3-form/stories/internal/checkbox.stories.tsx
  components/o3-form/stories/internal/error-summary.stories.tsx
  components/o3-form/stories/internal/passwordInput.stories.tsx
  components/o3-form/stories/internal/radio-button.stories.tsx
  components/o3-form/stories/internal/textInput.stories.tsx
  components/o3-form/stories/sustainable-views/checkbox-group.stories.tsx
  components/o3-form/stories/sustainable-views/checkbox.stories.tsx
  components/o3-form/stories/sustainable-views/error-summary.stories.tsx
  components/o3-form/stories/sustainable-views/passwordInput.stories.tsx
  components/o3-form/stories/sustainable-views/radio-button.stories.tsx
  components/o3-form/stories/sustainable-views/textInput.stories.tsx
  components/o3-foundation/src/css/tokens/core/_variables.css
  components/o3-foundation/src/css/tokens/core/professional/_variables.css
  components/o3-foundation/src/css/tokens/internal/_variables.css
  components/o3-foundation/src/css/tokens/sustainable-views/_variables.css
  components/o3-foundation/src/css/tokens/whitelabel/_variables.css
  libraries/o3-tooling-token/build/core/_variables.js
  libraries/o3-tooling-token/build/core/professional/_variables.js
  libraries/o3-tooling-token/build/internal/_variables.js
  libraries/o3-tooling-token/build/sustainable-views/_variables.js
  libraries/o3-tooling-token/build/whitelabel/_variables.js
Owners: @Financial-Times/origami-core

feat: enable all brands for website
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
Owners: @Financial-Times/origami-core

feat: if input elements have no id generate random id. Fix issue with password id being same
  components/o3-form/src/tsx/CheckBox.tsx
  components/o3-form/src/tsx/PasswordInput.tsx
  components/o3-form/src/tsx/RadioButton.tsx
Owners: @Financial-Times/origami-core

fix: fix focus not showing error on anchor links inside tip component
  apps/for-everyone-website/src/components/utils/Tip.astro
Owners: @Financial-Times/origami-core

feat: add error-summary preview to website
  apps/for-everyone-website/src/components/form/examples/Error-summary.astro
  apps/for-everyone-website/src/components/form/preview/Error-summary-in-form.tsx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
Owners: @Financial-Times/origami-core

Minor fixes for o3-form component (#1855)
  apps/for-everyone-website/src/components/Example.astro
  apps/for-everyone-website/src/components/form/examples/Error-summary.astro
  apps/for-everyone-website/src/components/form/guidelines/Labels-grouping.astro
  apps/for-everyone-website/src/components/form/preview/Error-summary-in-form.tsx
  apps/for-everyone-website/src/components/utils/Tip.astro
  apps/for-everyone-website/src/content/docs/components/Form/checkbox.mdx
  apps/for-everyone-website/src/content/docs/components/Form/error-summary.mdx
  apps/for-everyone-website/src/content/docs/components/Form/index.mdx
  apps/for-everyone-website/src/content/docs/components/Form/password-input.mdx
  apps/for-everyone-website/src/content/docs/components/Form/radio-button.mdx
  apps/for-everyone-website/src/content/docs/components/Form/text-input.mdx
  apps/for-everyone-website/src/content/docs/components/buttons.mdx
  components/o3-form/src/css/components/checkbox.css
  components/o3-form/src/css/components/form-field.css
  components/o3-form/src/css/components/password-input.css
  components/o3-form/src/css/components/radio-button.css
  components/o3-form/src/tsx/CheckBox.tsx
  components/o3-form/src/tsx/PasswordInput.tsx
  components/o3-form/src/tsx/RadioButton.tsx
  components/o3-form/src/tsx/TextInput.tsx
  components/o3-form/src/tsx/fieldComponents/FormField.tsx
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o3-form/CHANGELOG.md
  components/o3-form/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

docs: Update CHANGELOG.md
  components/o3-foundation/CHANGELOG.md
Owners: @Financial-Times/origami-core

chore: update package.lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: release main (#1858)
  .release-please-manifest.json
  components/o3-form/CHANGELOG.md
  components/o3-form/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: add proposed structure to figma tokens studio
  apps/dictionary/tokens/$metadata.json
  apps/dictionary/tokens/$themes.json
  apps/dictionary/tokens/alias/core.json
  apps/dictionary/tokens/alias/professional.json
  apps/dictionary/tokens/brand/core.json
  apps/dictionary/tokens/brand/professional.json
  apps/dictionary/tokens/components/o3-button.json
  apps/dictionary/tokens/core/components/o3-button.json
  apps/dictionary/tokens/foundation.json
  apps/dictionary/tokens/theme/core-inverse.json
  apps/dictionary/tokens/theme/professional-inverse.json
Owners: @Financial-Times/origami-core

chore: update themes metadata for proposed brands
  apps/dictionary/tokens/$themes.json
Owners: @Financial-Times/origami-core

backstage: Update website to rely on new token dictionary
  apps/for-everyone-website/package.json
  apps/for-everyone-website/src/components/Icons.astro
  apps/for-everyone-website/src/components/Palette.astro
  apps/for-everyone-website/src/components/Spacing.astro
  apps/for-everyone-website/src/components/TypeScale.astro
  apps/for-everyone-website/src/content/docs/guides/icons.mdx
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Update package-lock.json
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Regenerate manifests
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @Financial-Times/origami-core

backstage: Make dictionary public
  libraries/dictionary/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Add Scss token target
  libraries/dictionary/package.json
  libraries/dictionary/scss/core.scss
  libraries/dictionary/scss/internal.scss
  libraries/dictionary/scss/professional.scss
  libraries/dictionary/scss/sustainable-views.scss
  libraries/dictionary/scss/whitelabel.scss
  libraries/dictionary/src/build.js
  libraries/dictionary/src/config/platforms/sass.js
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

feat: introduce o-private-foundation
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  components/o-private-foundation/.eslintignore
  components/o-private-foundation/.eslintrc.cjs
  components/o-private-foundation/.gitignore
  components/o-private-foundation/.npmignore
  components/o-private-foundation/.remarkrc.cjs
  components/o-private-foundation/.stylelintignore
  components/o-private-foundation/.stylelintrc.cjs
  components/o-private-foundation/README.md
  components/o-private-foundation/demos/src/demo.js
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.js
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/package.json
  components/o-private-foundation/src/js/private-foundation.js
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_variables.scss
  components/o-private-foundation/src/tsx/private-foundation.tsx
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
  components/o-private-foundation/test/helpers/fixtures.js
  components/o-private-foundation/test/private-foundation.test.js
  components/o-private-foundation/test/scss/_main.test.scss
  components/o-private-foundation/test/scss/index.test.scss
  origami.code-workspace
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: introduce o-normalise to o-private-foundation
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
  components/o-private-foundation/o-normalise/src/scss/_variables.scss
Owners: @Financial-Times/origami-core

feat: introduce o-private-foundation
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  components/o-private-foundation/.eslintignore
  components/o-private-foundation/.eslintrc.cjs
  components/o-private-foundation/.gitignore
  components/o-private-foundation/.npmignore
  components/o-private-foundation/.remarkrc.cjs
  components/o-private-foundation/.stylelintignore
  components/o-private-foundation/.stylelintrc.cjs
  components/o-private-foundation/README.md
  components/o-private-foundation/demos/src/demo.js
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_variables.scss
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
  components/o-private-foundation/test/helpers/fixtures.js
  components/o-private-foundation/test/private-foundation.test.js
  components/o-private-foundation/test/scss/_main.test.scss
  components/o-private-foundation/test/scss/index.test.scss
  origami.code-workspace
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Make dictionary public
  libraries/dictionary/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Regenerate manifests
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @Financial-Times/origami-core

backstage: Update website to rely on new token dictionary
  apps/for-everyone-website/package.json
  apps/for-everyone-website/src/components/Icons.astro
  apps/for-everyone-website/src/components/Palette.astro
  apps/for-everyone-website/src/components/Spacing.astro
  apps/for-everyone-website/src/components/TypeScale.astro
  apps/for-everyone-website/src/content/docs/guides/icons.mdx
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Update package-lock.json
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

feat: introduce o-private-foundation
  components/o-private-foundation/README.md
Owners: @Financial-Times/origami-core

feat: introduce o-private-foundation
  components/o-private-foundation/README.md
  components/o-private-foundation/demos/src/demo.js
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/package.json
  components/o-private-foundation/test/helpers/fixtures.js
  components/o-private-foundation/test/private-foundation.test.js
  components/o-private-foundation/test/scss/_main.test.scss
  components/o-private-foundation/test/scss/index.test.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

feat: introduce o-private-foundation
  components/o-private-foundation/README.md
  components/o-private-foundation/demos/src/demo.js
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/package.json
  components/o-private-foundation/test/helpers/fixtures.js
  components/o-private-foundation/test/private-foundation.test.js
  components/o-private-foundation/test/scss/_main.test.scss
  components/o-private-foundation/test/scss/index.test.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
