Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

feat: introduce o-private-foundation
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  components/o-private-foundation/.eslintignore
  components/o-private-foundation/.eslintrc.cjs
  components/o-private-foundation/.gitignore
  components/o-private-foundation/.npmignore
  components/o-private-foundation/.remarkrc.cjs
  components/o-private-foundation/.stylelintignore
  components/o-private-foundation/.stylelintrc.cjs
  components/o-private-foundation/README.md
  components/o-private-foundation/demos/src/demo.js
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_variables.scss
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
  components/o-private-foundation/test/helpers/fixtures.js
  components/o-private-foundation/test/private-foundation.test.js
  components/o-private-foundation/test/scss/_main.test.scss
  components/o-private-foundation/test/scss/index.test.scss
  origami.code-workspace
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Add Sass token target
  apps/dictionary/src/build.js
  apps/dictionary/src/config/platforms/sass.js
  components/o-private-foundation/src/scss/tokens/core.scss
  components/o-private-foundation/src/scss/tokens/internal.scss
  components/o-private-foundation/src/scss/tokens/professional.scss
  components/o-private-foundation/src/scss/tokens/sustainable-views.scss
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
Owners: @Financial-Times/origami-core

backstage: Add Sass token target
  apps/dictionary/src/build.js
  apps/dictionary/src/config/platforms/sass.js
  components/o-private-foundation/src/scss/tokens/core.scss
  components/o-private-foundation/src/scss/tokens/internal.scss
  components/o-private-foundation/src/scss/tokens/professional.scss
  components/o-private-foundation/src/scss/tokens/sustainable-views.scss
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
Owners: @Financial-Times/origami-core

backstage: Delete oPrivateFoundation mixin use, as it does not exist
  components/o-private-foundation/stories/private-foundation.scss
Owners: @Financial-Times/origami-core

feat: introduce o-private-foundation (#1863)
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  apps/dictionary/src/build.js
  apps/dictionary/src/config/platforms/sass.js
  components/o-private-foundation/.eslintignore
  components/o-private-foundation/.eslintrc.cjs
  components/o-private-foundation/.gitignore
  components/o-private-foundation/.npmignore
  components/o-private-foundation/.remarkrc.cjs
  components/o-private-foundation/.stylelintignore
  components/o-private-foundation/.stylelintrc.cjs
  components/o-private-foundation/README.md
  components/o-private-foundation/origami.json
  components/o-private-foundation/package.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_variables.scss
  components/o-private-foundation/src/scss/tokens/core.scss
  components/o-private-foundation/src/scss/tokens/internal.scss
  components/o-private-foundation/src/scss/tokens/professional.scss
  components/o-private-foundation/src/scss/tokens/sustainable-views.scss
  components/o-private-foundation/src/scss/tokens/whitelabel.scss
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
  origami.code-workspace
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

chore: remove unused mixins and prefix remaining with private
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

feat: Add public function to get the current brand.
  libraries/o-brand/scss/_private-functions.scss
  libraries/o-brand/scss/_public-functions.scss
Owners: @Financial-Times/origami-core

backstage: Map tokens to o2 brand pattern
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_tokens.scss
  package-lock.json
  tools/demo-build/build-sass.js
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove stories
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
Owners: @Financial-Times/origami-core

docs: Remove misleading SassDoc
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

backstage: Remove example css
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

fix: fix buttons
  components/o-buttons/main.scss
  components/o-buttons/src/scss/_mixins.scss
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

backstage: Map tokens to o2 brand pattern
  components/o-private-foundation/demos/src/demo.mustache
  components/o-private-foundation/demos/src/demo.scss
  components/o-private-foundation/main.scss
  components/o-private-foundation/origami.json
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/_tokens.scss
  package-lock.json
  tools/demo-build/build-sass.js
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove example css
  components/o-private-foundation/main.scss
Owners: @Financial-Times/origami-core

docs: Remove misleading SassDoc
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

backstage: Remove stories
  components/o-private-foundation/stories/private-foundation.readme.stories.mdx
  components/o-private-foundation/stories/private-foundation.scss
  components/o-private-foundation/stories/private-foundation.stories.tsx
Owners: @Financial-Times/origami-core

feat: Add public function to get the current brand.
  libraries/o-brand/scss/_private-functions.scss
  libraries/o-brand/scss/_public-functions.scss
Owners: @Financial-Times/origami-core

chore: use private foundation normalise
  components/o-expander/main.scss
  components/o-forms/main.scss
  components/o-forms/package.json
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-ft-affiliate-ribbon/package.json
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/main.scss
  components/o-multi-select/package.json
  components/o-social-follow/main.scss
  components/o-social-follow/package.json
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/package.json
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/package.json
  components/o-subs-card/src/scss/_mixins.scss
  components/o-table/demos/src/demo.scss
  components/o-teaser/main.scss
  components/o-teaser/package.json
  components/o-teaser/src/scss/_mixins.scss
  components/o-teaser/src/scss/themes/_large.scss
  components/o-teaser/src/scss/themes/_top-stories.scss
  components/o-typography/package.json
  components/o-typography/src/scss/use-cases/_general.scss
  components/o-video/main.scss
  components/o-video/src/scss/_base.scss
  components/o-visual-effects/stories/visual-effects.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger, @Financial-Times/acquisition, @Financial-Times/storytelling

chore: revert typography and buttons changes
  components/o-buttons/main.scss
  components/o-buttons/src/scss/_mixins.scss
  components/o-typography/src/scss/use-cases/_general.scss
Owners: @Financial-Times/origami-core

chore: correct errors
  components/ft-concept-button/main.scss
  components/ft-concept-button/package.json
  components/o-autocomplete/main.scss
  components/o-autocomplete/package.json
  components/o-banner/src/scss/themes/_theme.scss
  components/o-comments/src/scss/_mixins.scss
  components/o-footer/main.scss
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_base.scss
  components/o-header/main.scss
  components/o-header/src/scss/_base.scss
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
  components/o-share/main.scss
  components/o-share/src/scss/_mixins.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger, @Financial-Times/storytelling

chore: update package-lock.json
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: introduce variables
  components/o-meter/main.scss
  components/o-private-foundation/o-spacing/_variables.scss
Owners: @Financial-Times/origami-core

chore: use main scss file
  components/ft-concept-button/main.scss
  components/o-banner/src/scss/themes/_theme.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-header-services/src/scss/_base.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core, @Financial-Times/acquisition

chore: use imports as final approach, include o-colors
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/src/scss/themes/_theme.scss
  components/o-comments/src/scss/_mixins.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/src/scss/_base.scss
  components/o-header/src/scss/_base.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/o-normalise/src/scss/_variables.scss
  components/o-private-foundation/package.json
  components/o-share/main.scss
  components/o-share/src/scss/_mixins.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-teaser/src/scss/themes/_large.scss
  components/o-teaser/src/scss/themes/_top-stories.scss
  components/o-video/src/scss/_base.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/acquisition

chore: ensure private foundation is a peerDependency
  components/o-autocomplete/package.json
  components/o-expander/package.json
  components/o-footer/package.json
  components/o-forms/package.json
  components/o-header-services/package.json
  components/o-header/package.json
  components/o-multi-select/package.json
  components/o-social-follow/package.json
  components/o-stepped-progress/package.json
  components/o-subs-card/package.json
  components/o-teaser/package.json
  components/o-typography/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: remove tsx files
  components/o-private-foundation/src/tsx/private-foundation.tsx
Owners: @Financial-Times/origami-core

chore: introduce spacing functions
  components/o-meter/main.scss
  components/o-private-foundation/o-spacing/main.scss
Owners: @Financial-Times/origami-core

chore: remove further cases of @use
  components/o-autocomplete/main.scss
  components/o-comments/main.scss
  components/o-comments/src/scss/_mixins.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_checkbox.scss
  components/o-forms/src/scss/_radio-round.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header/main.scss
  components/o-header/src/scss/_base.scss
  components/o-share/main.scss
  components/o-share/src/scss/_mixins.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/themes/_large.scss
  components/o-teaser/src/scss/themes/_top-stories.scss
  components/o-video/main.scss
  components/o-video/src/scss/_base.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling

chore: remove unecessary variable
  components/o-private-foundation/o-normalise/src/scss/_variables.scss
Owners: @Financial-Times/origami-core

chore: namespace variables
  components/o-private-foundation/o-normalise/src/scss/_mixins.scss
  components/o-private-foundation/o-normalise/src/scss/_variables.scss
Owners: @Financial-Times/origami-core

chore: ensure original o-normalise is used in demos
  components/o-comments/package.json
  components/o-ft-affiliate-ribbon/package.json
  components/o-labels/stories/labels.scss
  components/o-layout/demos/src/demo.scss
  components/o-spacing/stories/spacing.scss
  components/o-typography/stories/typography.scss
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

backstage: Add initial buttons support to o-private-foundations
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Replace o-buttons with o-private-foundation in o-table
  components/o-table/demos/src/demo.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/js/Tables/OverflowTable.js
  components/o-table/src/scss/_responsive-overflow.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: fix private button force-colors and family
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Update private buttons to actually use type/theme argument
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

chore: Run component tests when a PR is opened against the 2025-release branch
  .github/workflows/test.yml
  templates/test-workflow.yml
Owners: @Financial-Times/origami-core

docs: Update components/o-private-foundation/src/scss/o-buttons/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

chore: Run component tests when a PR is opened against the 2025-release branch (#1870)
  .github/workflows/test.yml
  templates/test-workflow.yml
Owners: @Financial-Times/origami-core

chore: align file structure with confirmed convention
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/main.scss
  components/o-big-number/main.scss
  components/o-comments/main.scss
  components/o-cookie-message/main.scss
  components/o-editorial-layout/main.scss
  components/o-footer-services/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-header-services/main.scss
  components/o-header/main.scss
  components/o-labels/main.scss
  components/o-layout/main.scss
  components/o-message/main.scss
  components/o-meter/main.scss
  components/o-multi-select/main.scss
  components/o-overlay/main.scss
  components/o-private-foundation/src/scss/o-spacing/_variables.scss
  components/o-private-foundation/src/scss/o-spacing/main.scss
  components/o-quote/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-subs-card/main.scss
  components/o-teaser-collection/main.scss
  components/o-teaser/main.scss
  components/o-tooltip/main.scss
  components/o-top-banner/main.scss
  components/o-topper/main.scss
Owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition

chore: namespace variables
  components/o-private-foundation/src/scss/o-spacing/_variables.scss
  components/o-private-foundation/src/scss/o-spacing/main.scss
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core
