Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform

feat: o-icons, add eye icons
  components/o-icons/demos/src/data.json
  components/o-icons/src/scss/_icon-list.scss
Owners: @Financial-Times/origami-core

feat: o-icons, add eye icons (#722)
  components/o-icons/demos/src/data.json
  components/o-icons/src/scss/_icon-list.scss
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-icons/CHANGELOG.md
  components/o-icons/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@898f581712b4d394b36865c565c927b6dae92bfd 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

chore: release main (#723)
  .release-please-manifest.json
  components/o-icons/CHANGELOG.md
  components/o-icons/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@52a249902ab72b43856ba93c6a913b51d87309cf 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.5c6c7a54919a7bff7eb5.manager.bundle.js
  storybook/main.eede8c15d3e8cfd15f3f.manager.bundle.js
Owners: @Financial-Times/origami-core

backstage: remove Build Service v2 use / links
  components/o-comments/README.md
  components/o-forms/MIGRATION.md
  components/o-grid/bookmarklet/bookmarklet.js
  components/o-overlay/README.md
  components/o-overlay/test/specs/smoke.test.js
  components/o-spacing/README.md
  components/o-subs-card/README.md
  components/o-table/README.md
  components/o-typography/README.md
Owners: @Financial-Times/content-innovation, @Financial-Times/origami-core, @Financial-Times/acquisition

backstage: remove Build Service v2 use / links (#724)
  components/o-comments/README.md
  components/o-forms/MIGRATION.md
  components/o-grid/bookmarklet/bookmarklet.js
  components/o-overlay/README.md
  components/o-overlay/test/specs/smoke.test.js
  components/o-spacing/README.md
  components/o-subs-card/README.md
  components/o-table/README.md
  components/o-typography/README.md
Owners: @Financial-Times/content-innovation, @Financial-Times/origami-core, @Financial-Times/acquisition

Deploying to origami.ft.com from @ Financial-Times/origami@224a8c71fa5e11b8daf0b26a5fa454c19bda219b 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.5c6c7a54919a7bff7eb5.manager.bundle.js
  storybook/main.ee71ba2531201a49377a.manager.bundle.js
Owners: @Financial-Times/origami-core

backstage: Move ftdomdelegate to the Origami mono repo
  .github/labeler.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  libraries/ftdomdelegate/.github/CODEOWNERS
  libraries/ftdomdelegate/.github/ISSUE_TEMPLATE.md
  libraries/ftdomdelegate/.github/workflows/add-new-issues-and-pull-requests-to-origami-project-board.yml
  libraries/ftdomdelegate/.github/workflows/apply-labels.yml
  libraries/ftdomdelegate/.github/workflows/auto-approve.yml
  libraries/ftdomdelegate/.github/workflows/automatic-tag-and-release.yml
  libraries/ftdomdelegate/.github/workflows/publish-to-npm-as-latest.yml
  libraries/ftdomdelegate/.github/workflows/publish-to-npm-as-prerelease.yml
  libraries/ftdomdelegate/.github/workflows/sync-repo-labels.yml
  libraries/ftdomdelegate/.github/workflows/test.yml
  libraries/ftdomdelegate/package-lock.json
  libraries/ftdomdelegate/package.json
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core

backstage: ftdomdelegate set `private: false` in package.json
  libraries/ftdomdelegate/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@cca39d61102ebb075630fa64d4f022437ea45c91 🚀
  feed.xml
  sitemap.xml
  storybook/292.27fe07d727496cc3e410.manager.bundle.js
  storybook/292.27fe07d727496cc3e410.manager.bundle.js.LICENSE.txt
  storybook/684.4a53785c1646fc95f65c.manager.bundle.js
  storybook/index.html
  storybook/main.3f3114597d128e1d4d83.manager.bundle.js
  storybook/main.ee71ba2531201a49377a.manager.bundle.js
Owners: @Financial-Times/origami-core

feat!: Remove o-comments reliance on Build Service v2
  components/o-comments/MIGRATION.md
  components/o-comments/README.md
  components/o-comments/main.scss
  components/o-comments/src/js/stream.js
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/content-innovation

backstage: o-comments indent lint fix
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/content-innovation

backstage: o-comments indent lint fix
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/content-innovation

feat!: Remove o-comments reliance on Build Service v2
  components/o-comments/MIGRATION.md
  components/o-comments/README.md
  components/o-comments/main.scss
  components/o-comments/src/js/stream.js
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
Owners: @Financial-Times/content-innovation

chore: release main
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@74a60344451ab997df7619172685d5e712aa35a4 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.162963e5b810def4c259.manager.bundle.js
  storybook/main.3f3114597d128e1d4d83.manager.bundle.js
Owners: @Financial-Times/origami-core

chore: release main (#730)
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/content-innovation

Deploying to origami.ft.com from @ Financial-Times/origami@59d90a484fa86a728a1be67702608db414a5fb56 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.162963e5b810def4c259.manager.bundle.js
  storybook/main.f0c8285f771f04e76dfb.manager.bundle.js
Owners: @Financial-Times/origami-core

feat: o-buttons add ghost mono / inverse themes
  components/o-buttons/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

feat: o-buttons add ghost mono / inverse themes (#725)
  components/o-buttons/src/scss/_brand.scss
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@832f400e6200b015772025f3b91a0e02080e7a75 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.31219261.iframe.bundle.js
  storybook/main.c97dc591.iframe.bundle.js
Owners: @Financial-Times/origami-core

backstage: Add redirects since /docs/ became /documents/
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

backstage: Add redirects since /docs/ became /documents/ (#736)
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

backstage: correct redirects, https://github.com/Financial-Times/origami/pull/736
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

backstage: correct redirects, https://github.com/Financial-Times/origami/pull/736 (#737)
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
Owners: @Financial-Times/origami-core

Delete bower.json
  components/o-topper/bower.json
Owners: @Financial-Times/origami-core

Delete bower.json
  libraries/sass-mq/bower.json
Owners: @Financial-Times/origami-core

backstage: revert previous changes to redirects
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

backstage: add direct for `/documentation` pages that are known to not exist
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
Owners: @Financial-Times/origami-core

Delete bower.json
  components/o-topper/bower.json
Owners: @Financial-Times/origami-core

Delete bower.json
  libraries/sass-mq/bower.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@97658cfac43f3899122095a80d9cf46fa9496b7b 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

chore: release main (#735)
  .release-please-manifest.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@68c7fcf216b783451b4fe2257baf3c7ab9444dc6 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.b7ff105789b32fb44063.manager.bundle.js
  storybook/main.f0c8285f771f04e76dfb.manager.bundle.js
Owners: @Financial-Times/origami-core

backstage: revert previous changes to redirects
  apps/website/_components/compatibility.md
  apps/website/_components/customisation.md
  apps/website/_components/getting-started.md
  apps/website/_components/versioning.md
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
  apps/website/_principles/design.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-6.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/components.md
  apps/website/pages/documentation.html
  apps/website/pages/manifests.md
  apps/website/pages/principles.md
  apps/website/pages/services.md
  apps/website/pages/specification-v1.md
  apps/website/pages/tutorials.md
Owners: @Financial-Times/origami-core

backstage: add direct for `/documentation` pages that are known to not exist
  apps/website/_posts/2021-07-01-origami-on-npm-and-how-to-migrate.md
Owners: @Financial-Times/origami-core

feat: add stories for o-date demos
  components/o-date/src/js/date.js
  components/o-date/src/tsx/date.tsx
  components/o-date/stories/date.stories.tsx
  package-lock.json
Owners: @Financial-Times/origami-core

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/content-innovation
components/o-comments/ @Financial-Times/content-innovation
components/o-video/ @Financial-Times/content-innovation

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform
