Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/storytelling, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform, @ft-dependency-auto-merger

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/storytelling
components/o-comments/ @Financial-Times/storytelling
components/o-video/ @Financial-Times/storytelling

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform


# Allow Dependency Auto-Merger to approve dependency bump PRs
**/package*.json @ft-dependency-auto-merger @Financial-Times/origami-core

chore: align file structure with confirmed convention
  components/ft-concept-button/main.scss
  components/o-autocomplete/main.scss
  components/o-banner/src/scss/themes/_theme.scss
  components/o-expander/main.scss
  components/o-footer/main.scss
  components/o-forms/main.scss
  components/o-forms/src/scss/_radio-box.scss
  components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/src/scss/modifiers/_state.scss
  components/o-ft-affiliate-ribbon/main.scss
  components/o-header-services/src/scss/_base.scss
  components/o-header/main.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/main.scss
  components/o-private-foundation/o-normalise/main.scss
  components/o-private-foundation/src/scss/o-normalise/_mixins.scss
  components/o-private-foundation/src/scss/o-normalise/_variables.scss
  components/o-private-foundation/src/scss/o-normalise/main.scss
  components/o-share/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
  components/o-subs-card/src/scss/_mixins.scss
  components/o-teaser/main.scss
  components/o-teaser/src/scss/_mixins.scss
  components/o-tooltip/main.scss
  components/o-video/main.scss
Owners: @Financial-Times/origami-core, @Financial-Times/acquisition, @Financial-Times/storytelling

backstage: Replace o-buttons with o-private-foundation in o-table
  components/o-table/demos/src/demo.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/js/Tables/OverflowTable.js
  components/o-table/src/scss/_responsive-overflow.scss
  package-lock.json
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Update private buttons to actually use type/theme argument
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Add initial buttons support to o-private-foundations
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

docs: Update components/o-private-foundation/src/scss/o-buttons/main.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: fix private button force-colors and family
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

chore: fix lint errors
  components/o-header/src/scss/_base.scss
  components/o-header/src/scss/features/_top.scss
  components/o-multi-select/main.scss
  components/o-social-follow/main.scss
  components/o-stepped-progress/main.scss
  components/o-stepped-progress/src/scss/_mixins.scss
Owners: @Financial-Times/origami-core

fix: version bump
  libraries/o-tracking/src/javascript/tracking.js
Owners: @Financial-Times/data-platform

fix: version bump (#1873)
  libraries/o-tracking/src/javascript/tracking.js
Owners: @Financial-Times/data-platform

chore: release main
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform, @ft-dependency-auto-merger

chore: Update CHANGELOG.md
  libraries/o-tracking/CHANGELOG.md
Owners: @Financial-Times/data-platform

chore: add private foundation includes to sass lint config
  presets/stylelint-config-origami-component/config.js
Owners: @Financial-Times/origami-core

chore: format o-multi-select/main.scss
  components/o-multi-select/main.scss
Owners: @Financial-Times/origami-core

chore: release main (#1871)
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform, @ft-dependency-auto-merger

fix: format files
  components/o-multi-select/demos/src/demo.scss
  components/o-multi-select/main.scss
Owners: @Financial-Times/origami-core

fix: fix typo
  components/o-big-number/package.json
  components/o-buttons/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

fix: remove duplications
  components/o-comments/package.json
  components/o-forms/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

fix: remove engine property from package.json
  components/o-private-foundation/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

feat: introduce o-private-foundation/o-grid
  components/o-private-foundation/src/scss/o-grid/_functions.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
  components/o-private-foundation/src/scss/o-grid/_variables.scss
  components/o-private-foundation/src/scss/o-grid/main.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateGrid in o-header-services
  components/o-header-services/main.scss
  components/o-header-services/src/scss/_base.scss
Owners: @Financial-Times/origami-core

feat: use oPrivateGrid in o-header-services
  components/o-header-services/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

fix: fix lint issues
  components/o-comments/main.scss
  components/o-multi-select/demos/src/demo.scss
  package-lock.json
Owners: @Financial-Times/storytelling, @Financial-Times/origami-core, @ft-dependency-auto-merger

fix: remove engine property from package.json
  components/o-private-foundation/package.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

fix: correctly detect truly circular paths in JS objects, rather than objects with multiple references
  libraries/o-tracking/src/javascript/core/send.js
  libraries/o-tracking/src/javascript/core/store.js
  libraries/o-tracking/src/javascript/tracking.js
  libraries/o-tracking/src/javascript/utils.js
  libraries/o-tracking/test/core/send.test.js
  libraries/o-tracking/test/core/store.test.js
  libraries/o-tracking/test/events/custom.test.js
  libraries/o-tracking/test/utils.test.js
Owners: @Financial-Times/data-platform

fix: fix colors test assertions
  components/o-buttons/test/scss/_mixins.test.scss
Owners: @Financial-Times/origami-core

fix: remove unecessary normalise import
  components/o-header/src/scss/features/_top.scss
Owners: @Financial-Times/origami-core

fix: oPrivateNormaliseApply to order sass rule
  presets/stylelint-config-origami-component/config.js
Owners: @Financial-Times/origami-core

fix: fix sass lint errors
  components/o-multi-select/main.scss
  components/o-overlay/demos/src/sliding-notification.scss
Owners: @Financial-Times/origami-core

fix: use rgn in o-label sass tests
  components/o-labels/test/scss/_mixins.test.scss
Owners: @Financial-Times/origami-core

fix: lint o-multi-select sass
  components/o-multi-select/main.scss
Owners: @Financial-Times/origami-core

fix: update package-lock
  package-lock.json
Owners: @ft-dependency-auto-merger, @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform, @ft-dependency-auto-merger

chore: namespace o-private-foundation/o-grid variables
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-header-services/src/scss/_primary-nav.scss
  components/o-header/main.scss
  components/o-layout/src/scss/_variables.scss
  components/o-private-foundation/src/scss/o-grid/_functions.scss
  components/o-private-foundation/src/scss/o-grid/_mixins.scss
  components/o-private-foundation/src/scss/o-grid/_variables.scss
  components/o-private-foundation/src/scss/o-grid/main.scss
  components/o-teaser-collection/demos/src/demo.scss
Owners: @Financial-Times/origami-core

feat: introduce and use o-private-foundation/o-visual-effects
  components/o-autocomplete/main.scss
  components/o-autocomplete/package.json
  components/o-banner/main.scss
  components/o-banner/package.json
  components/o-banner/src/scss/_mixins.scss
  components/o-banner/src/scss/layouts/_compact.scss
  components/o-banner/src/scss/layouts/_small.scss
  components/o-cookie-message/main.scss
  components/o-cookie-message/package.json
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-header-services/main.scss
  components/o-header-services/package.json
  components/o-header-services/src/scss/_drawer.scss
  components/o-header-services/src/scss/_secondary-nav.scss
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_megamenu.scss
  components/o-header/src/scss/features/_sticky.scss
  components/o-layout/main.scss
  components/o-layout/package.json
  components/o-layout/src/scss/_mixins.scss
  components/o-overlay/main.scss
  components/o-overlay/package.json
  components/o-overlay/src/scss/_mixins.scss
  components/o-private-foundation/o-visual-effects/main.scss
  components/o-private-foundation/o-visual-effects/src/scss/_shadows.scss
  components/o-private-foundation/o-visual-effects/src/scss/_variables.scss
  components/o-table/main.scss
  components/o-table/package.json
  components/o-table/src/scss/_responsive-overflow.scss
  components/o-tooltip/main.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Reduce use of Sass modules to prevent errors when importing multiple times via other components.
  components/o-private-foundation/main.scss
  components/o-private-foundation/src/scss/_brand.scss
  components/o-private-foundation/src/scss/o-buttons/main.scss
Owners: @Financial-Times/origami-core

backstage: Update o-table to use latest o-private-foundation changes.
  components/o-table/src/scss/_responsive-overflow.scss
Owners: @Financial-Times/origami-core

backstage: Remove o-buttons as an o-tabs dependency
  components/o-tabs/README.md
  components/o-tabs/main.scss
  components/o-tabs/package.json
  components/o-tabs/src/scss/_buttontabs.scss
  components/o-tabs/stories/tabs.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons as an o-header dependency
  components/o-header/main.scss
  components/o-header/package.json
  components/o-header/src/scss/_variables.scss
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_search.scss
  components/o-header/src/scss/features/_transparent.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Remove o-buttons as an o-forms peer dependency
  components/o-forms/README.md
  components/o-forms/package.json
  components/o-forms/src/scss/_file-input.scss
  components/o-forms/src/scss/main.scss
  components/o-forms/src/scss/modifiers/_inverse.scss
  components/o-forms/stories/forms.scss
Owners: @Financial-Times/origami-core, @ft-dependency-auto-merger

backstage: Throw in o-private-foundation if a token is not found
  components/o-comments/main.scss
  components/o-comments/package.json
  components/o-comments/src/scss/_mixins.scss
  components/o-comments/src/scss/coral-talk-iframe/main.scss
  components/o-private-foundation/src/scss/_brand.scss
Owners: @Financial-Times/storytelling, @ft-dependency-auto-merger, @Financial-Times/origami-core
