Repository Financial-Times/origami, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Financial-Times/origami-core, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/content-discovery, @Financial-Times/visual-data-journalism-admins, @Financial-Times/data-platform

.github/CODEOWNERS:

# The Origami Team watch over the whole component system
* @Financial-Times/origami-core 

# Storytelling components
components/o-audio/ @Financial-Times/content-innovation
components/o-comments/ @Financial-Times/content-innovation
components/o-video/ @Financial-Times/content-innovation

# Acquisition components
components/o-subs-card/ @Financial-Times/acquisition

# Disco components
components/n-notification/ @Financial-Times/content-discovery

# Visual Journalism components
components/g-audio/ @Financial-Times/visual-data-journalism-admins

# Data platform own o-tracking
libraries/o-tracking @Financial-Times/data-platform

Deploying to origami.ft.com from @ Financial-Times/origami@3d18bed9d7a21b11bee7a0f0efe3629b60621462 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

backstage: run storybook upgrade
  apps/storybook/package.json
Owners: @Financial-Times/origami-core

backstage: update lock-file
  package-lock.json
Owners: @Financial-Times/origami-core

docs: Add a o-big-number tsx template and story
  components/o-big-number/src/tsx/big-number.tsx
  components/o-big-number/stories/big-number.scss
  components/o-big-number/stories/big-number.stories.tsx
Owners: @Financial-Times/origami-core

backstage: update lock-file
  package-lock.json
Owners: @Financial-Times/origami-core

backstage: run storybook upgrade
  apps/storybook/package.json
Owners: @Financial-Times/origami-core

docs: Add a o-big-number tsx template and story
  components/o-big-number/src/tsx/big-number.tsx
  components/o-big-number/stories/big-number.scss
  components/o-big-number/stories/big-number.stories.tsx
Owners: @Financial-Times/origami-core

Checks for document before adding o.DOMContentLoaded event listener
  components/o-toggle/main.js
Owners: @Financial-Times/origami-core

Update components/o-toggle/main.js
  components/o-toggle/main.js
Owners: @Financial-Times/origami-core

Updating o-toggle main as per @chee's request
  components/o-toggle/main.js
Owners: @Financial-Times/origami-core

fix: Check for `document` before using it
  components/o-toggle/main.js
Owners: @Financial-Times/origami-core

chore: release main
  .release-please-manifest.json
  components/o-toggle/CHANGELOG.md
  components/o-toggle/package.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform

Deploying to origami.ft.com from @ Financial-Times/origami@af1ad128652d5db42aa5b26bba2cd527855af16e 🚀
  feed.xml
  sitemap.xml
Owners: @Financial-Times/origami-core

chore: release main (#709)
  .release-please-manifest.json
  components/o-toggle/CHANGELOG.md
  components/o-toggle/package.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Owners: @Financial-Times/origami-core, @Financial-Times/data-platform

Deploying to origami.ft.com from @ Financial-Times/origami@2ae69f81f505028b6e72e00be1c44ac550b7fce9 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.91df710b1db24f2e8104.manager.bundle.js
  storybook/main.f3a081c6b885561d7a60.manager.bundle.js
Owners: @Financial-Times/origami-core

fix: Adds basic existence checking to most module entry points
  apps/website/_specification-v1/javascript.md
  components/ft-concept-button/main.js
  components/g-audio/main.js
  components/n-notification/main.js
  components/o-audio/main.js
  components/o-autocomplete/main.js
  components/o-banner/main.js
  components/o-comments/main.js
  components/o-cookie-message/main.js
  components/o-date/main.js
  components/o-expander/main.js
  components/o-footer/main.js
  components/o-forms/main.js
  components/o-header-services/main.js
  components/o-header/main.js
  components/o-layout/main.js
  components/o-lazy-load/main.js
  components/o-message/main.js
  components/o-overlay/main.js
  components/o-share/main.js
  components/o-stepped-progress/main.js
  components/o-subs-card/main.js
  components/o-syntax-highlight/main.js
  components/o-table/main.js
  components/o-tabs/main.js
  components/o-tooltip/main.js
  components/o-typography/main.js
  components/o-video/main.js
  libraries/o-autoinit/test/helpers/event-count.js
  libraries/o-errors/main.js
  libraries/o-tracking/main.js
Owners: @Financial-Times/origami-core, @Financial-Times/visual-data-journalism-admins, @Financial-Times/content-discovery, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/data-platform

feat: o-forms toggle on white background support
  components/o-forms/README.md
  components/o-forms/main.scss
  components/o-forms/src/scss/_toggle.scss
Owners: @Financial-Times/origami-core

backstage: fix o-forms lint issue
  components/o-forms/src/scss/_toggle.scss
Owners: @Financial-Times/origami-core

fix: Adds basic existence checking to most module entry points (#714)
  apps/website/_specification-v1/javascript.md
  components/ft-concept-button/main.js
  components/g-audio/main.js
  components/n-notification/main.js
  components/o-audio/main.js
  components/o-autocomplete/main.js
  components/o-banner/main.js
  components/o-comments/main.js
  components/o-cookie-message/main.js
  components/o-date/main.js
  components/o-expander/main.js
  components/o-footer/main.js
  components/o-forms/main.js
  components/o-header-services/main.js
  components/o-header/main.js
  components/o-layout/main.js
  components/o-lazy-load/main.js
  components/o-message/main.js
  components/o-overlay/main.js
  components/o-share/main.js
  components/o-stepped-progress/main.js
  components/o-subs-card/main.js
  components/o-syntax-highlight/main.js
  components/o-table/main.js
  components/o-tabs/main.js
  components/o-tooltip/main.js
  components/o-typography/main.js
  components/o-video/main.js
  libraries/o-autoinit/test/helpers/event-count.js
  libraries/o-errors/main.js
  libraries/o-tracking/main.js
Owners: @Financial-Times/origami-core, @Financial-Times/visual-data-journalism-admins, @Financial-Times/content-discovery, @Financial-Times/content-innovation, @Financial-Times/acquisition, @Financial-Times/data-platform

backstage: remove trailing stylelint comment from components/o-forms/src/scss/_toggle.scss
  components/o-forms/src/scss/_toggle.scss
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@7ba3a61d0de2a32d3a27a225fd4258b3820c7bda 🚀
  feed.xml
  sitemap.xml
  specification/v1/components/javascript/index.html
  storybook/iframe.html
  storybook/main.06ac8416.iframe.bundle.js
  storybook/main.768b9857.iframe.bundle.js
Owners: @Financial-Times/origami-core

feat: o-forms toggle on white background support (#715)
  components/o-forms/README.md
  components/o-forms/main.scss
  components/o-forms/src/scss/_toggle.scss
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@00e579f757be1bfa277bdf7f1fc1ffbb78f44ea7 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.5690a099de948b14f91b.manager.bundle.js
  storybook/main.91df710b1db24f2e8104.manager.bundle.js
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@0d880bf00548c68b4043abe92634e7c8bc2bec89 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.5690a099de948b14f91b.manager.bundle.js
  storybook/main.86a7aafa66df21c521b0.manager.bundle.js
Owners: @Financial-Times/origami-core

docs: add storybook for o-toggle
  components/o-toggle/src/tsx/toggle.tsx
  components/o-toggle/stories/toggle.scss
  components/o-toggle/stories/toggle.stories.tsx
Owners: @Financial-Times/origami-core

feat!: remove most features of o-toggle
  components/o-toggle/demos/src/demo.mustache
  components/o-toggle/main.scss
  components/o-toggle/origami.json
  components/o-toggle/src/js/target.js
  components/o-toggle/src/js/toggle.js
  components/o-toggle/src/tsx/toggle.tsx
  components/o-toggle/stories/toggle.stories.tsx
Owners: @Financial-Times/origami-core

fix: revert to old html so it is less of a migration
  components/o-toggle/README.md
  components/o-toggle/demos/src/demo.mustache
  components/o-toggle/main.scss
  components/o-toggle/src/js/toggle.js
  components/o-toggle/src/tsx/toggle.tsx
  components/o-toggle/stories/toggle.stories.tsx
Owners: @Financial-Times/origami-core

docs: add a migration guide for toggle v4
  components/o-toggle/MIGRATION.md
Owners: @Financial-Times/origami-core

docs: add type=button to buttons
  components/o-toggle/README.md
  components/o-toggle/demos/src/demo.mustache
  components/o-toggle/src/js/toggle.js
  components/o-toggle/src/tsx/toggle.tsx
Owners: @Financial-Times/origami-core

docs: update migration.md
  components/o-toggle/MIGRATION.md
Owners: @Financial-Times/origami-core

fix: allow toggle button to be away from the toggle target
  components/o-toggle/README.md
  components/o-toggle/main.scss
  components/o-toggle/src/js/toggle.js
  components/o-toggle/src/tsx/toggle.tsx
  components/o-toggle/stories/toggle.stories.tsx
Owners: @Financial-Times/origami-core

docs: update origami demos
  components/o-toggle/demos/src/anchor.mustache
  components/o-toggle/demos/src/demo.mustache
Owners: @Financial-Times/origami-core

feat: Add o-social-follow component
  .github/labeler.yml
  .github/workflows/percy.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  components/o-social-follow/.eslintignore
  components/o-social-follow/.eslintrc.cjs
  components/o-social-follow/.gitignore
  components/o-social-follow/.npmignore
  components/o-social-follow/.prettierrc.toml
  components/o-social-follow/.remarkrc.cjs
  components/o-social-follow/.stylelintignore
  components/o-social-follow/.stylelintrc.cjs
  components/o-social-follow/README.md
  components/o-social-follow/demos/src/demo.scss
  components/o-social-follow/demos/src/social-follow.mustache
  components/o-social-follow/main.scss
  components/o-social-follow/origami.json
  components/o-social-follow/package.json
  components/o-social-follow/src/scss/_variables.scss
  components/o-social-follow/src/tsx/social-follow.tsx
  components/o-social-follow/stories/social-follow.scss
  components/o-social-follow/stories/social-follow.stories.tsx
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core

backstage: add all icons to origami registry demos for o-social-follow
  components/o-social-follow/demos/src/social-follow.mustache
Owners: @Financial-Times/origami-core

backstage: correct o-social-follow landmark label
  components/o-social-follow/README.md
  components/o-social-follow/demos/src/social-follow.mustache
  components/o-social-follow/src/tsx/social-follow.tsx
Owners: @Financial-Times/origami-core

feat: Add o-social-follow component (#720)
  .github/labeler.yml
  .github/workflows/percy.yml
  .github/workflows/test.yml
  .release-please-manifest.json
  components/o-social-follow/.eslintignore
  components/o-social-follow/.eslintrc.cjs
  components/o-social-follow/.gitignore
  components/o-social-follow/.npmignore
  components/o-social-follow/.prettierrc.toml
  components/o-social-follow/.remarkrc.cjs
  components/o-social-follow/.stylelintignore
  components/o-social-follow/.stylelintrc.cjs
  components/o-social-follow/README.md
  components/o-social-follow/demos/src/demo.scss
  components/o-social-follow/demos/src/social-follow.mustache
  components/o-social-follow/main.scss
  components/o-social-follow/origami.json
  components/o-social-follow/package.json
  components/o-social-follow/src/scss/_variables.scss
  components/o-social-follow/src/tsx/social-follow.tsx
  components/o-social-follow/stories/social-follow.scss
  components/o-social-follow/stories/social-follow.stories.tsx
  package-lock.json
  release-please-config.json
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@f2d46db22053d933e72a4ebf6955c3ee83c4f06b 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/index.html
  storybook/main.06ac8416.iframe.bundle.js
  storybook/main.31219261.iframe.bundle.js
  storybook/main.86a7aafa66df21c521b0.manager.bundle.js
  storybook/main.8d2982d0b68571573738.manager.bundle.js
Owners: @Financial-Times/origami-core

chore: release main
  components/o-social-follow/CHANGELOG.md
Owners: @Financial-Times/origami-core

chore: release main (#721)
  components/o-social-follow/CHANGELOG.md
Owners: @Financial-Times/origami-core

Deploying to origami.ft.com from @ Financial-Times/origami@c3e6cd591dfc438905a7a1ac89ea217ce6fd5f56 🚀
  feed.xml
  sitemap.xml
  storybook/index.html
  storybook/main.8d2982d0b68571573738.manager.bundle.js
  storybook/main.eede8c15d3e8cfd15f3f.manager.bundle.js
Owners: @Financial-Times/origami-core
