Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, ft-concept-button, g-audio, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-multi-select, o-normalise, o-overlay, o-quote, o-share, o-social-follow, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-top-banner, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o3-button, o3-editorial-typography, o3-foundation, o3-tooltip, o3-typography, ftdomdelegate, math, o-autoinit, o-brand, o-errors, o-testing-library, o-tracking, o-utils, o3-figma-sb-links, o3-tooling-token, sass-mq, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, a11y, create-component, demo-build, o3-chrome-extension, o3-compilation, origami-bower-safe-version-supervisor, origami-tools-helpers, sass-compilation, test-javascript, test-sass, validate-component-demo-html, verify-origami-json, verify-package-json, background, guidelines, markdown-tabs, astro-website, dictionary, for-everyone-website, o2-storybook, o2-storybook-composition, o3-storybook

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

ft-concept-button:
  - components/ft-concept-button/**/*
g-audio:
  - components/g-audio/**/*
n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-multi-select:
  - components/o-multi-select/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-social-follow:
  - components/o-social-follow/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-top-banner:
  - components/o-top-banner/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o3-button:
  - components/o3-button/**/*
o3-editorial-typography:
  - components/o3-editorial-typography/**/*
o3-foundation:
  - components/o3-foundation/**/*
o3-tooltip:
  - components/o3-tooltip/**/*
o3-typography:
  - components/o3-typography/**/*
ftdomdelegate:
  - libraries/ftdomdelegate/**/*
math:
  - libraries/math/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-testing-library:
  - libraries/o-testing-library/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
o3-figma-sb-links:
  - libraries/o3-figma-sb-links/**/*
o3-tooling-token:
  - libraries/o3-tooling-token/**/*
sass-mq:
  - libraries/sass-mq/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
a11y:
  - tools/a11y/**/*
create-component:
  - tools/create-component/**/*
demo-build:
  - tools/demo-build/**/*
o3-chrome-extension:
  - tools/o3-chrome-extension/**/*
o3-compilation:
  - tools/o3-compilation/**/*
origami-bower-safe-version-supervisor:
  - tools/origami-bower-safe-version-supervisor/**/*
origami-tools-helpers:
  - tools/origami-tools-helpers/**/*
sass-compilation:
  - tools/sass-compilation/**/*
test-javascript:
  - tools/test-javascript/**/*
test-sass:
  - tools/test-sass/**/*
validate-component-demo-html:
  - tools/validate-component-demo-html/**/*
verify-origami-json:
  - tools/verify-origami-json/**/*
verify-package-json:
  - tools/verify-package-json/**/*
background:
  - apps/o2-storybook/addons/background/**/*
guidelines:
  - apps/o2-storybook/addons/guidelines/**/*
markdown-tabs:
  - apps/o2-storybook/addons/markdown-tabs/**/*
astro-website:
  - apps/astro-website/**/*
dictionary:
  - apps/dictionary/**/*
for-everyone-website:
  - apps/for-everyone-website/**/*
o2-storybook:
  - apps/o2-storybook/**/*
o2-storybook-composition:
  - apps/o2-storybook-composition/**/*
o3-storybook:
  - apps/o3-storybook/**/*

backstage: use Cloudsmith to install node modules
  .github/workflows/test.yml
  templates/test-workflow.yml
Labels: templates

chore: change to trial install
  components/o-fonts/src/scss/_mixins.scss
Labels: components, o-fonts

chore: change to trial install
  components/o-tooltip/src/js/tooltip.js
Labels: components, o-tooltip

chore: change to trial install
  components/o-tooltip/src/js/tooltip.js
Labels: components, o-tooltip

backstage: correct typos in scripts
  .github/workflows/test.yml
  templates/test-workflow.yml
Labels: templates

docs: add guidlines on how to update the extension
  package-lock.json
  tools/o3-chrome-extension/README.md
  tools/o3-chrome-extension/package.json
  tools/o3-chrome-extension/public/manifest.json
Labels: tools, o3-chrome-extension

chore: added a shade of crimson for the input box background (it was missing before)
  apps/dictionary/tokens/whitelabel/base/color.json
Labels: dictionary

Update tools/o3-chrome-extension/README.md
  tools/o3-chrome-extension/README.md
Labels: tools, o3-chrome-extension

docs: add guidlines on how to update the extension (#1753)
  package-lock.json
  tools/o3-chrome-extension/README.md
  tools/o3-chrome-extension/package.json
  tools/o3-chrome-extension/public/manifest.json
Labels: tools, o3-chrome-extension

docs: add guidlines on how to install extension
  apps/for-everyone-website/src/content/docs/guides/grid.mdx
Labels: for-everyone-website

fix: fix typos on comments barrier message
  components/o-comments/src/js/stream.js
Labels: components, o-comments

fix: fix typos
  components/o-comments/src/js/stream.js
Labels: components, o-comments

chore: release main
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Labels: components, o-comments

chore: removed claret-10 shade
  apps/dictionary/tokens/whitelabel/base/color.json
Labels: dictionary

backstage: use Cloudsmith on all CI workflows
  .github/workflows/build-websites.yml
  .github/workflows/check-config.yml
  .github/workflows/check-privacy.yml
  .github/workflows/chromatic.yml
  .github/workflows/o2-chromatic.yml
  .github/workflows/o2-composition-chromatic.yml
  .github/workflows/percy.yml
  components/o-tooltip/src/js/tooltip.js
  templates/percy-workflow.yml
Labels: components, templates, o-tooltip

Backstage/trial cloudsmith (#1752)
  .github/workflows/build-websites.yml
  .github/workflows/check-config.yml
  .github/workflows/check-privacy.yml
  .github/workflows/chromatic.yml
  .github/workflows/o2-chromatic.yml
  .github/workflows/o2-composition-chromatic.yml
  .github/workflows/percy.yml
  .github/workflows/test.yml
  templates/percy-workflow.yml
  templates/test-workflow.yml
Labels: templates

chore: upgrade ftdomdelegate to v5 in o-table
  components/o-table/package.json
  package-lock.json
Labels: components, o-table

Update apps/for-everyone-website/src/content/docs/guides/grid.mdx
  apps/for-everyone-website/src/content/docs/guides/grid.mdx
Labels: for-everyone-website

chore: changed muted text color so it passess accessibility check
  apps/dictionary/tokens/whitelabel/use-case/color.json
Labels: dictionary

docs: use preview to demonstrate editorial typography components
  apps/for-everyone-website/src/components/editorial-typography/BodyStyles.astro
  apps/for-everyone-website/src/components/editorial-typography/HeadingStyles.astro
  apps/for-everyone-website/src/components/editorial-typography/HeadlineLarge.astro
  apps/for-everyone-website/src/components/editorial-typography/preview/Body.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Caption.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Chapter.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Headline-Large.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Headline.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Label.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/StandFirst.tsx
  apps/for-everyone-website/src/components/editorial-typography/preview/Subheading.tsx
Labels: for-everyone-website

docs: Update apps/for-everyone-website/src/content/docs/guides/grid.mdx
  apps/for-everyone-website/src/content/docs/guides/grid.mdx
Labels: for-everyone-website

docs: add guidelines on how to install extension (#1755)
  apps/for-everyone-website/src/content/docs/guides/grid.mdx
Labels: for-everyone-website

fix: new fix approach
  components/o-video/src/js/ads.js
Labels: components, o-video

fix: removing console.log
  components/o-video/src/js/ads.js
Labels: components, o-video

docs: remove accessibility notes
  apps/for-everyone-website/src/content/docs/guides/typography.mdx
Labels: for-everyone-website

docs: add figma and storybook links
  apps/for-everyone-website/src/components/editorial-typography/BodyStyles.astro
  apps/for-everyone-website/src/components/editorial-typography/HeadingStyles.astro
  apps/for-everyone-website/src/components/editorial-typography/HeadlineLarge.astro
Labels: for-everyone-website
