Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*

chore: allow brand variable to be set in environment
  apps/storybook/config/main.js
Labels: none

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography

Deploying to origami.ft.com from @ Financial-Times/origami@82836110986bf910173d8c92494126624afbdd0c 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: stop forcing slate background for inverse buttons
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: allow brand variable to be set in environment
  apps/storybook/config/main.js
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@fe21c15e732961bca5f57e063b9c4c75ad74bf98 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.5585b8d9.iframe.bundle.js
  storybook/main.7b769473.iframe.bundle.js
  storybook/vendors~main.5bfc26c5.iframe.bundle.js
  storybook/vendors~main.5bfc26c5.iframe.bundle.js.map
  storybook/vendors~main.9b3f945f.iframe.bundle.js
  storybook/vendors~main.9b3f945f.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.9b3f945f.iframe.bundle.js.map
Labels: none

docs: inject a system-code into the sass so it doesnt have to be set in every story
  apps/storybook/config/main.js
Labels: none

docs: add backgrounds for some of our ft colours
  apps/storybook/config/preview.js
Labels: none

chore: add specific version of strip-final-newline
  package-lock.json
Labels: none

docs: simplify o-buttons storybook a little
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: ignore src/tsx
  components/o-stepped-progress/.npmignore
Labels: components, o-stepped-progress

chore: reuse stepped-progress javascript
  components/o-stepped-progress/src/js/stepped-progress-step.js
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
Labels: components, o-stepped-progress

chore: stop forcing slate background for inverse buttons
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: allow brand variable to be set in environment
  apps/storybook/config/main.js
Labels: none

chore: add initial story for o-stepped-progress
  components/o-stepped-progress/.prettierrc.toml
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
  components/o-stepped-progress/stories/stepped-progress.scss
  components/o-stepped-progress/stories/stepped-progress.stories.tsx
Labels: components, o-stepped-progress

docs: add accessibility plugin to snyk
  apps/storybook/config/main.js
  apps/storybook/package-lock.json
  apps/storybook/package.json
Labels: none

docs: make o-sstepped-progress jsx work like the current component implementation
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
  components/o-stepped-progress/stories/stepped-progress.scss
  components/o-stepped-progress/stories/stepped-progress.stories.tsx
Labels: components, o-stepped-progress

Deploying to origami.ft.com from @ Financial-Times/origami@8249c4d61049cfe0cd5d3421f489a1c7d3e569f9 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: update newsletter from lee's recommendations
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@619e79ab5f9b1bbfb73b3e507a246d948b11d457 🚀
  blog/2021/10/05/newsletter/index.html
  blog/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@98129ec0b7fa4783e1f631c38f68ebfd5b916469 🚀
  blog/2021/10/05/newsletter/index.html
  blog/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
Labels: none

docs: fix heading levels in origami component system section
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

docs: add september 2021 newsletter
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

chore: update newsletter from lee's recommendations
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@06baadb87187b63db147d7583020211ba59e9deb 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@e1f4ec55038e4ee8f1cefb9323f377d31efbda23 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@e69ce659e26cffbd320fd6bd29c723b9a29c54ea 🚀
  feed.xml
  sitemap.xml
  storybook/iframe.html
  storybook/main.7b769473.iframe.bundle.js
  storybook/main.ae414376.iframe.bundle.js
Labels: none

fix: update visually-hidden width and height to 2px
  components/o-normalise/src/scss/_mixins.scss
Labels: components, o-normalise

Deploying to origami.ft.com from @ Financial-Times/origami@fd34fa31d7bae19373d296b3de93b7f4812e9fff 🚀
  feed.xml
  sitemap.xml
Labels: none

fix: update visually-hidden width and height to 2px
  components/o-normalise/src/scss/_mixins.scss
Labels: components, o-normalise

chore: release main
  .release-please-manifest.json
  components/o-normalise/CHANGELOG.md
  components/o-normalise/package.json
Labels: components, o-normalise

Deploying to origami.ft.com from @ Financial-Times/origami@c060e82dd2f04c8a12865eed26a391e290e571ea 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@6d044dec9002042ad5d0df3c732d152a8ec81cc2 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: release main
  .release-please-manifest.json
  components/o-normalise/CHANGELOG.md
  components/o-normalise/package.json
Labels: components, o-normalise

Deploying to origami.ft.com from @ Financial-Times/origami@d47865a0095faeeab91d1d12cd62c760cfbede4f 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@4cb4a35cee17a88ba5f01d7a958894effaedcdbe 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@ff76fba84436366a7e0e3821a346de36e0c9bb74 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@0db177fe2b460e19e325f7da49a8d3d3bf6c52d5 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@14e0e48052a61abf757b5d2faf0f9cd6b8335d02 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: upgrade storybook
  apps/storybook/config/manager.js
  apps/storybook/package-lock.json
  apps/storybook/package.json
Labels: none
