Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

chore: add a fancy thing that changes the background colour for inverse buttons
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: add an initial o-buttons tsx template
  components/o-buttons/src/tsx/button.tsx
  components/o-buttons/src/tsx/group.tsx
  components/o-buttons/src/tsx/pagination.tsx
Labels: components, o-buttons

chore: move shared deps to root package.json
  apps/storybook/package.json
  package-lock.json
  package.json
Labels: none

docs: add small readme
  apps/storybook/readme.md
Labels: none

chore: allow eslint config to parse jsx
  presets/eslint-config-origami-component/config.js
Labels: eslint-config-origami-component

chore: update package
  package-lock.json
  package.json
Labels: none

chore: add .prettierrc.toml to o-buttons
  components/o-buttons/.prettierrc.toml
Labels: components, o-buttons

chore: add storybook dependencies
  package-lock.json
Labels: none

chore: don't ship the jsx templates yet
  components/o-buttons/.npmignore
Labels: components, o-buttons

chore: default to secondary for buttons
  components/o-buttons/.npmignore
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons

chore: add storybook config
  .storybook/main.js
  .storybook/preview.js
Labels: none

chore: remove unused import
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons

docs: Add storybook story to o-buttons
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: remove templates from ignorefile
  components/o-buttons/.npmignore
Labels: components, o-buttons

chore: build storybook with modern imporat
  apps/storybook/package.json
Labels: none

chore: force-commit the storybook lockfile
  apps/storybook/package-lock.json
Labels: none

chore: add build-website action
  .github/workflows/build-websites.yml
  .gitignore
  scripts/build-website.bash
Labels: scripts

chore: set ruby-version
  .github/workflows/build-websites.yml
Labels: none

chore: use /storybook as the url rather than /stories
  scripts/build-website.bash
Labels: scripts

Deploying to origami.ft.com from @ Financial-Times/origami@de31040433d471afba0caa7a9f0867adcc338e5f 🚀
  feed.xml
  sitemap.xml
Labels: none

fix: Increase o-editoiral-typography header bottom margin from 12px to 14px
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: Use o-spacing functions to set editorial header bottom margin
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: fix lying code comment
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

feat: Update o-editorial-typography h4 for a "features xhead" heading (#324)
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-layout/src/scss/_placeholders.scss
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/origami.json
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-layout, o-editorial-typography

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography

Create CNAME
  CNAME
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@621935ebfed7c53621ceedcf6b442cd4bd342890 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: add build-website action
  .github/workflows/build-websites.yml
  .gitignore
  scripts/build-website.bash
Labels: scripts

chore: build storybook with modern imporat
  apps/storybook/package.json
Labels: none

chore: force-commit the storybook lockfile
  apps/storybook/package-lock.json
Labels: none

chore: set ruby-version
  .github/workflows/build-websites.yml
Labels: none

chore: use /storybook as the url rather than /stories
  scripts/build-website.bash
Labels: scripts

chore: add initial story for o-stepped-progress
  components/o-stepped-progress/.prettierrc.toml
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
  components/o-stepped-progress/stories/stepped-progress.scss
  components/o-stepped-progress/stories/stepped-progress.stories.tsx
Labels: components, o-stepped-progress

chore: ignore src/tsx
  components/o-stepped-progress/.npmignore
Labels: components, o-stepped-progress

chore: rename build websites job from test to publish
  .github/workflows/build-websites.yml
Labels: none

chore: add specific version of strip-final-newline
  package-lock.json
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@e63e80c30f3192169912ce0a617a6c56a4f34e96 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@98dd922948e27d01795d1b6a1223cab8ccfe338f 🚀
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.68990d08.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js.LICENSE.txt
  storybook/4.5dadc93e.iframe.bundle.js.map
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/5.e21b8245.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js.LICENSE.txt
  storybook/6.538cd10f.iframe.bundle.js.map
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.6d40c2e1.iframe.bundle.js
  storybook/iframe.html
  storybook/main.9dce2649.iframe.bundle.js
  storybook/main.b29db015.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.7f4feb4b.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.3a6493b5.iframe.bundle.js.map
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
Labels: none

docs: add a small amount of documentation to the README
  README.md
Labels: none

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*
