Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, ft-concept-button, g-audio, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-multi-select, o-normalise, o-overlay, o-quote, o-share, o-social-follow, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, ftdomdelegate, math, o-autoinit, o-brand, o-errors, o-tracking, o-utils, sass-mq, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, a11y, create-component, demo-build, origami-bower-safe-version-supervisor, origami-tools-helpers, sass-compilation, test-javascript, test-sass, validate-component-demo-html, verify-origami-json, verify-package-json, background, guidelines, html, markdown-tabs, storybook, website

chore: release main
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-multi-select/CHANGELOG.md
  components/o-multi-select/package.json
Labels: components, o-forms, o-multi-select

Deploying to origami.ft.com from @ Financial-Times/origami@805ff7f8f51612b7f0115278e9e59a572bc274c9 🚀
  feed.xml
  sitemap.xml
  storybook/brands/core/iframe.html
  storybook/brands/core/index.html
  storybook/brands/core/main.2539d8c0.iframe.bundle.js
  storybook/brands/core/main.2e393b71.iframe.bundle.js
  storybook/brands/core/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/core/main.f0100cf206f7db451855.manager.bundle.js
  storybook/brands/core/stories.json
  storybook/brands/internal/iframe.html
  storybook/brands/internal/index.html
  storybook/brands/internal/main.1c731181.iframe.bundle.js
  storybook/brands/internal/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/internal/main.f0100cf206f7db451855.manager.bundle.js
  storybook/brands/internal/main.fa7429fc.iframe.bundle.js
  storybook/brands/internal/stories.json
  storybook/brands/whitelabel/iframe.html
  storybook/brands/whitelabel/index.html
  storybook/brands/whitelabel/main.601aa144.iframe.bundle.js
  storybook/brands/whitelabel/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/whitelabel/main.e0862ed0.iframe.bundle.js
  storybook/brands/whitelabel/main.f0100cf206f7db451855.manager.bundle.js
Labels: none

backstage: manually update changelogs and dont release o-forms major version
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-multi-select/CHANGELOG.md
Labels: components, o-forms, o-multi-select

backstage: revert percy workflow file
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

backstage: try to run percy.js only if test wokrflow finishes
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

backstage: update percy logic so it does not run on chore: main
  scripts/percy.js
Labels: scripts

backstage: add clgs for debug
  scripts/percy.js
Labels: scripts

backstage: test backstage does not triger percy
  components/o-table/src/js/oTable.js
Labels: components, o-table

fix: percy and try to triger table fix
  components/o-table/README.md
  scripts/percy.js
Labels: components, scripts, o-table

backstage: try quotes for workflow names
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

backstage: test wait on check
  .github/workflows/percy.yml
Labels: none

fix: test fix comit in js file will triger percy
  components/o-table/src/js/oTable.js
Labels: components, o-table

backstage: test wait on check
  templates/percy-workflow.yml
Labels: templates

backstage: add moustache and json as file types that can effect on percy changes
  scripts/percy.js
Labels: scripts

docs: Update components/o-forms/CHANGELOG.md
  components/o-forms/CHANGELOG.md
Labels: components, o-forms

backstage: try to run percy.js only if test wokrflow finishes
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

backstage: add clgs for debug
  scripts/percy.js
Labels: scripts

backstage: test wait on check
  .github/workflows/percy.yml
Labels: none

backstage: test wait on check
  templates/percy-workflow.yml
Labels: templates

backstage: try quotes for workflow names
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

backstage: revert percy workflow file
  .github/workflows/percy.yml
  templates/percy-workflow.yml
Labels: templates

fix: percy and try to triger table fix
  components/o-table/README.md
  scripts/percy.js
Labels: components, scripts, o-table

backstage: update percy logic so it does not run on chore: main
  scripts/percy.js
Labels: scripts

backstage: test backstage does not triger percy
  components/o-table/src/js/oTable.js
Labels: components, o-table

fix: test fix comit in js file will triger percy
  components/o-table/src/js/oTable.js
Labels: components, o-table

backstage: add moustache and json as file types that can effect on percy changes
  scripts/percy.js
Labels: scripts

chore: release main
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-multi-select/CHANGELOG.md
  components/o-multi-select/package.json
Labels: components, o-forms, o-multi-select

docs: Update components/o-forms/CHANGELOG.md
  components/o-forms/CHANGELOG.md
Labels: components, o-forms

backstage: manually update changelogs and dont release o-forms major version
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-multi-select/CHANGELOG.md
Labels: components, o-forms, o-multi-select

chore: release main
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-multi-select/CHANGELOG.md
  components/o-table/CHANGELOG.md
  components/o-table/package.json
Labels: components, o-forms, o-multi-select, o-table

Deploying to origami.ft.com from @ Financial-Times/origami@7cfa34309f036e5aaf8499f91899ba8381c6459a 🚀
  feed.xml
  sitemap.xml
  storybook/brands/core/iframe.html
  storybook/brands/core/index.html
  storybook/brands/core/main.07bd06c5.iframe.bundle.js
  storybook/brands/core/main.2e393b71.iframe.bundle.js
  storybook/brands/core/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/core/main.bae051b609390c3db979.manager.bundle.js
  storybook/brands/internal/iframe.html
  storybook/brands/internal/index.html
  storybook/brands/internal/main.08e52af5.iframe.bundle.js
  storybook/brands/internal/main.1c731181.iframe.bundle.js
  storybook/brands/internal/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/internal/main.bae051b609390c3db979.manager.bundle.js
  storybook/brands/whitelabel/iframe.html
  storybook/brands/whitelabel/index.html
  storybook/brands/whitelabel/main.0bfe8ca4.iframe.bundle.js
  storybook/brands/whitelabel/main.601aa144.iframe.bundle.js
  storybook/brands/whitelabel/main.8c517cb35b7c609174e5.manager.bundle.js
  storybook/brands/whitelabel/main.bae051b609390c3db979.manager.bundle.js
Labels: none

docs: mention new components, March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

docs: update tsx usage guides
  components/o-multi-select/README.md
Labels: components, o-multi-select

backstage: remove react example from docs
  components/o-multi-select/README.md
Labels: components, o-multi-select

Deploying to origami.ft.com from @ Financial-Times/origami@151cbadd7ad6ab073c94b3787595405044546166 🚀
  feed.xml
  sitemap.xml
  storybook/brands/core/iframe.html
  storybook/brands/core/index.html
  storybook/brands/core/main.07bd06c5.iframe.bundle.js
  storybook/brands/core/main.1a3f5b4f158103b0bd2f.manager.bundle.js
  storybook/brands/core/main.455cbc2e.iframe.bundle.js
  storybook/brands/core/main.bae051b609390c3db979.manager.bundle.js
  storybook/brands/internal/iframe.html
  storybook/brands/internal/index.html
  storybook/brands/internal/main.08e52af5.iframe.bundle.js
  storybook/brands/internal/main.1a3f5b4f158103b0bd2f.manager.bundle.js
  storybook/brands/internal/main.1c731181.iframe.bundle.js
  storybook/brands/internal/main.bae051b609390c3db979.manager.bundle.js
  storybook/brands/whitelabel/iframe.html
  storybook/brands/whitelabel/index.html
  storybook/brands/whitelabel/main.0bfe8ca4.iframe.bundle.js
  storybook/brands/whitelabel/main.139a3277.iframe.bundle.js
  storybook/brands/whitelabel/main.1a3f5b4f158103b0bd2f.manager.bundle.js
  storybook/brands/whitelabel/main.bae051b609390c3db979.manager.bundle.js
Labels: none

docs: Add blog post for March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

docs: Update markup for blog post, March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

docs: mention new components, March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

docs: Remove language which may sound unintentionally patronising, March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

docs: missing bits, March 2023 newsletter
  apps/website/_posts/2023-03-29-newsletter.md
Labels: website

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

ft-concept-button:
  - components/ft-concept-button/**/*
g-audio:
  - components/g-audio/**/*
n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-multi-select:
  - components/o-multi-select/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-social-follow:
  - components/o-social-follow/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
ftdomdelegate:
  - libraries/ftdomdelegate/**/*
math:
  - libraries/math/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
sass-mq:
  - libraries/sass-mq/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
a11y:
  - tools/a11y/**/*
create-component:
  - tools/create-component/**/*
demo-build:
  - tools/demo-build/**/*
origami-bower-safe-version-supervisor:
  - tools/origami-bower-safe-version-supervisor/**/*
origami-tools-helpers:
  - tools/origami-tools-helpers/**/*
sass-compilation:
  - tools/sass-compilation/**/*
test-javascript:
  - tools/test-javascript/**/*
test-sass:
  - tools/test-sass/**/*
validate-component-demo-html:
  - tools/validate-component-demo-html/**/*
verify-origami-json:
  - tools/verify-origami-json/**/*
verify-package-json:
  - tools/verify-package-json/**/*
background:
  - apps/storybook/addons/background/**/*
guidelines:
  - apps/storybook/addons/guidelines/**/*
html:
  - apps/storybook/addons/html/**/*
markdown-tabs:
  - apps/storybook/addons/markdown-tabs/**/*
storybook:
  - apps/storybook/**/*
website:
  - apps/website/**/*
