Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

Deploying to origami.ft.com from @ Financial-Times/origami@bb7d29ff128a2d931e74cdf8288fb7d8ac43d6fa 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: Add sass design token config
  tokens/config/dark-mode-style-dictionary.js
  tokens/config/default-style-dictionary.js
  tokens/dist/android/styledictionary/src/main/res/values-night/colors.xml
  tokens/dist/android/styledictionary/src/main/res/values/colors.xml
  tokens/dist/android/styledictionary/src/main/res/values/dimens.xml
  tokens/dist/android/styledictionary/src/main/res/values/font_dimens.xml
  tokens/dist/ios/Size.swift
  tokens/dist/web/tokens-dark.json
  tokens/dist/web/tokens-dark.scss
  tokens/dist/web/tokens.scss
  tokens/dist/web/variables-dark.css
  tokens/dist/web/variables.css
Labels: none

feat: Deprecate "master" brand in the "o-brand" component.
  libraries/o-brand/README.md
  libraries/o-brand/main.scss
  libraries/o-brand/scss/_deprecated.scss
  libraries/o-brand/scss/_mixins.scss
  libraries/o-brand/scss/_private-functions.scss
  libraries/o-brand/scss/_public-functions.scss
  libraries/o-brand/scss/_variables.scss
  libraries/o-brand/test/scss/_fixtures.scss
  libraries/o-brand/test/scss/_functions.test.scss
  libraries/o-brand/test/scss/_mixins.test.scss
  libraries/o-brand/test/scss/index.test.scss
Labels: libraries, o-brand

fix: o-brand linting
  libraries/o-brand/scss/_deprecated.scss
  libraries/o-brand/scss/_public-functions.scss
  libraries/o-brand/scss/_variables.scss
  libraries/o-brand/test/scss/_functions.test.scss
Labels: libraries, o-brand

backstage: add origami-storybook-addon-html
  apps/storybook/addons/html/index.js
  apps/storybook/addons/html/package.json
  apps/storybook/addons/html/register.js
  apps/storybook/config/main.js
  apps/storybook/config/manager.js
  package-lock.json
  package.json
Labels: none

backstage: add Guidelines tab addon
  apps/storybook/addons/guidelines/package.json
  apps/storybook/addons/guidelines/readme.md
  apps/storybook/addons/guidelines/register.js
  apps/storybook/addons/guidelines/styles.css
  apps/storybook/config/main.js
  apps/storybook/package-lock.json
  apps/storybook/package.json
Labels: none

backstage: use new plugins in stories
  components/o-buttons/stories/button.stories.tsx
  components/o-stepped-progress/stories/stepped-progress.stories.tsx
  package-lock.json
Labels: components, o-buttons, o-stepped-progress

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*
