Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*

Deploying to origami.ft.com from @ Financial-Times/origami@6bb3a2c7b371c2d36a8d9f7cef0c817699009f07 🚀
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.68990d08.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js.map
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.LICENSE.txt
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/5.e21b8245.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js.map
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.LICENSE.txt
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.6d40c2e1.iframe.bundle.js
  storybook/iframe.html
  storybook/main.9dce2649.iframe.bundle.js
  storybook/main.b29db015.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.7f4feb4b.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js.map
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@4a7ed96f5b085726d5cf0d132f106841b6ca4b9d 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@c948a2827a619427ed465fbdc1d56ccda947486f 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: add a specific time for the demo date that prints the whole date
  components/o-date/demos/src/declarative.js
Labels: components, o-date

chore: update date for last 2 date items
  components/o-date/demos/src/declarative.js
Labels: components, o-date

chore: add prettier config to o-date
  components/o-date/.prettierrc.toml
Labels: components, o-date

Deploying to origami.ft.com from @ Financial-Times/origami@7b0e975740433036d57e638eea6cd521899c9eef 🚀
  feed.xml
  sitemap.xml
Labels: none

docs: add a small amount of documentation to the README
  README.md
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@31b6246e75ecb5f31446f79640267f9107f02b50 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@20cfa83125afbd750611a1b74d965a2ff380841d 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: set datetime directly on elements
  components/o-date/demos/src/declarative.js
  components/o-date/demos/src/declarative.mustache
Labels: components, o-date

Deploying to origami.ft.com from @ Financial-Times/origami@fd04fdfa3d6c5ba21437a690feb0fe5e452ffb6c 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@78fb23db48f24274fa1a27d1f0e0f16189b10656 🚀
  feed.xml
  sitemap.xml
Labels: none

docs: add september 2021 newsletter
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

docs: fix heading levels in origami component system section
  apps/website/_emails/newsletter-2021-09.html
  apps/website/_posts/2021-10-05-newsletter.md
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@4ae687f4d1fe61f9002542071e836ecba64c430d 🚀
  blog/2021/10/05/newsletter/index.html
  blog/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@063813715f3bd3afa5a4923f06c1f19adbfc32ee 🚀
  blog/2021/10/05/newsletter/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@35516cbd0a53c01afe5313168414be520f1a922b 🚀
  blog/2021/10/05/newsletter/index.html
  blog/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.68990d08.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js.LICENSE.txt
  storybook/4.5dadc93e.iframe.bundle.js.map
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/5.e21b8245.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js.LICENSE.txt
  storybook/6.538cd10f.iframe.bundle.js.map
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.6d40c2e1.iframe.bundle.js
  storybook/iframe.html
  storybook/main.9dce2649.iframe.bundle.js
  storybook/main.b29db015.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.7f4feb4b.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.3a6493b5.iframe.bundle.js.map
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
Labels: none

chore: set datetime directly on elements
  components/o-date/demos/src/declarative.js
  components/o-date/demos/src/declarative.mustache
Labels: components, o-date

chore: add a specific time for the demo date that prints the whole date
  components/o-date/demos/src/declarative.js
Labels: components, o-date

chore: add prettier config to o-date
  components/o-date/.prettierrc.toml
Labels: components, o-date

chore: update date for last 2 date items
  components/o-date/demos/src/declarative.js
Labels: components, o-date

Deploying to origami.ft.com from @ Financial-Times/origami@133c6d2cbf59657a33df65b7d4c22ad5dc67733b 🚀
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.68990d08.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js.map
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.LICENSE.txt
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/5.e21b8245.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js.map
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.LICENSE.txt
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.6d40c2e1.iframe.bundle.js
  storybook/iframe.html
  storybook/main.9dce2649.iframe.bundle.js
  storybook/main.b29db015.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.7f4feb4b.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js
  storybook/vendors~main.3a6493b5.iframe.bundle.js.map
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
Labels: none

chore: reuse stepped-progress javascript
  components/o-stepped-progress/src/js/stepped-progress-step.js
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
Labels: components, o-stepped-progress

Deploying to origami.ft.com from @ Financial-Times/origami@00fbcc9df70b0d7bfda723cbfcb3bef64878a1de 🚀
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.68990d08.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js
  storybook/4.5dadc93e.iframe.bundle.js.LICENSE.txt
  storybook/4.5dadc93e.iframe.bundle.js.map
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/5.e21b8245.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js
  storybook/6.538cd10f.iframe.bundle.js.LICENSE.txt
  storybook/6.538cd10f.iframe.bundle.js.map
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.6d40c2e1.iframe.bundle.js
  storybook/iframe.html
  storybook/main.9dce2649.iframe.bundle.js
  storybook/main.daac437b.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.7f4feb4b.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
  storybook/vendors~main.9e302646.iframe.bundle.js
  storybook/vendors~main.9e302646.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.9e302646.iframe.bundle.js.map
Labels: none

docs: add accessibility plugin to snyk
  apps/storybook/config/main.js
  apps/storybook/package-lock.json
  apps/storybook/package.json
Labels: none

docs: inject a system-code into the sass so it doesnt have to be set in every story
  apps/storybook/config/main.js
Labels: none

docs: add backgrounds for some of our ft colours
  apps/storybook/config/preview.js
Labels: none

docs: simplify o-buttons storybook a little
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

docs: make o-sstepped-progress jsx work like the current component implementation
  components/o-stepped-progress/src/tsx/stepped-progress.tsx
  components/o-stepped-progress/stories/stepped-progress.scss
  components/o-stepped-progress/stories/stepped-progress.stories.tsx
Labels: components, o-stepped-progress

chore: checkout with lfs when building websites
  .github/workflows/build-websites.yml
Labels: none

chore: checkout with lfs when building websites
  .github/workflows/build-websites.yml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@abbe3c0d32803dc3baad532d3688a1365a61a585 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@9c962b8fde0c4c76bf64061b7521d7139e6db3c0 🚀
  blog/2021/10/05/newsletter/index.html
  blog/index.html
  emails/newsletter-2021-09/index.html
  feed.xml
  sitemap.xml
Labels: none

fix: Revert "Update o-editorial-typography h4 for a "features xhead" heading (#324)"
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-layout, o-editorial-typography

fix: Revert "Update o-editorial-typography h4 for a "features xhead" heading (#324)"
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-layout, o-editorial-typography

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography

Deploying to origami.ft.com from @ Financial-Times/origami@c62f555a018d6189bb73cb9d6de1691b2392ba79 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@b35e89c260582a9c69d5b059961b377e2abe5510 🚀
  feed.xml
  sitemap.xml
Labels: none

chore: stop forcing slate background for inverse buttons
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons
