Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

chore: respect PORT
  apps/storybook/package.json
Labels: none

chore: try building the whole website again on heroku
  apps/storybook/package.json
  apps/website/package.json
  package-lock.json
  package.json
  scripts/build-website.bash
Labels: scripts

chore: remove gem install bundler
  Gemfile
  Gemfile.lock
  scripts/build-website.bash
Labels: scripts

chore: update script
  scripts/build-website.bash
Labels: scripts

chore: install bundler?
  scripts/build-website.bash
Labels: scripts

chore: remove bundler (temp)
  scripts/build-website.bash
Labels: scripts

chore: be more specific about versions
  package.json
Labels: none

chore: add nodejs back to the list of buildpacks
  app.json
Labels: none

chore: ask storybook to use the port
  package.json
Labels: none

chore: Update app.json
  app.json
Labels: none

chore: build modern
  package.json
Labels: none

chore: try adding some kind of nonsense
  apps/storybook/config/main.js
Labels: none

chore: use npx serve i guess
  package.json
Labels: none

chore: add gemfile symlink to root for heroku
  Gemfile
  Gemfile.lock
Labels: none

chore: conditionally copy hooks
  package.json
  scripts/install.bash
Labels: scripts

chore: ignore .jekyll-metadata
  apps/website/.gitignore
Labels: none

chore: build every demo as part of the website build
  scripts/build-website.bash
  tools/origami-build-tools/lib/origami-build-tools-cli.js
  tools/origami-build-tools/lib/tasks/demo-build.js
Labels: scripts, tools, origami-build-tools

chore: run bundle before build
  scripts/build-website.bash
Labels: scripts

chore: make sure a failing build does not deploy
  scripts/build-website.bash
Labels: scripts

chore: make sure it fails
  scripts/build-website.bash
Labels: scripts

chore: cancel old web deploys
  .github/workflows/build-websites.yml
Labels: none

chore: remove intentional failure
  scripts/build-website.bash
Labels: scripts

Deploying to origami.ft.com from @ Financial-Times/origami@178ded1808166207e4158bcacd6bfa961e252b06 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@baad616070ad334e38c93ad413f56e803143eb32 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@d7bf89a04360a073ef3cdc2981ccad51dbabd2fb 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@6c6dd2dcac99185d5e0d2e14e4e2fce3d3fbece6 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@be87c18834622bee2af9068ebfae0d9d5a3b04e5 🚀
  feed.xml
  sitemap.xml
Labels: none

docs: fix o-autoinit readme
  libraries/o-autoinit/README.md
Labels: libraries, o-autoinit

Deploying to origami.ft.com from @ Financial-Times/origami@4b96d056bc7059841a674991f7dba1a849720c17 🚀
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@61c41942a0efe018ad1307c9cb2c061cd5e72540 🚀
  blog/2021/10/10/newsletter/index.html
  blog/index.html
  feed.xml
  sitemap.xml
Labels: none

Deploying to origami.ft.com from @ Financial-Times/origami@dfe31d7f7d9e7443d0653246f35de7964e932eda 🚀
  blog/2021/10/10/newsletter/index.html
  blog/index.html
  feed.xml
  package.json
  sitemap.xml
Labels: none

backstage: do not build the website on PRs lol!!!
  .github/workflows/build-websites.yml
Labels: none

backstage: allow a backstage prefix
  apps/website/.prettierrc.toml
  hooks/commit-msg
Labels: hooks

Deploying to origami.ft.com from @ Financial-Times/origami@356afc9b429853ba3f0c5c78b3bf833bee25d466 🚀
  feed.xml
  package.json
  sitemap.xml
Labels: none

chore: add mode dropdown to figma plugin token import experiment
  figma/plugins/token-sync/src/code.js
  figma/plugins/token-sync/src/ui.tsx
Labels: none

Fix broken image link in o-grid readme
  components/o-grid/README.md
Labels: components, o-grid

docs: fix broken image link in o-grid readme
  components/o-grid/README.md
Labels: components, o-grid

Deploying to origami.ft.com from @ Financial-Times/origami@6d74fc86fb1412cee311ff7a09670a2511b2336a 🚀
  feed.xml
  sitemap.xml
Labels: none

docs: add accordion as a keyword for o-expander
  components/o-expander/package.json
Labels: components, o-expander

docs: add accordion as a keyword for o-expander (#362)
  components/o-expander/package.json
Labels: components, o-expander

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*
