Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*

chore: regenerate the package-lock.json file
  package-lock.json
Labels: none

fix: Increase the bottom margin of h2 and h3 editorial headings.
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: update tests and demos
  components/o-date/demos/src/declarative.mustache
  components/o-date/test/markup.test.js
Labels: components, o-date

chore: Rename variables to be more descriptive
  components/o-date/src/js/date.js
Labels: components, o-date

chore: commit changes to lockfile via `npm ci && npm i`
  package-lock.json
Labels: none

fix: Correct o-editorial-layout h2 margin bottom
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: rename packagesWhichChanged to getChangedPackages
  scripts/check-next-version.js
  scripts/lib/getChangedPackages.js
Labels: scripts

feat: add script which logs out what releases will be made for which packages
  scripts/check-next-version.js
Labels: scripts

chore: refactor to assume the script always runs from the root of the project
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: extract logic to find which packages have changed into it's own module
  package-lock.json
  package.json
  scripts/check-next-version.js
  scripts/lib/packagesWhichChanged.js
Labels: scripts

fix: do not retrive commits which are on the baseRef and not on the headRef
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: regenerate the package-lock.json file
  package-lock.json
Labels: none

chore: refactor from using Maps to using Objects
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: rewrite getChangedPackages to return all packages which have changed and not only those which have user facing changes
  scripts/check-next-version.js
  scripts/lib/getChangedPackages.js
Labels: scripts

feat: Update o-editorial-typography h4 for a "features xhead" heading
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/origami.json
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-layout, o-editorial-typography

chore: update tests and demos
  components/o-date/demos/src/declarative.mustache
  components/o-date/test/markup.test.js
Labels: components, o-date

fix: Correct o-editorial-layout h2 margin bottom
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: Rename variables to be more descriptive
  components/o-date/src/js/date.js
Labels: components, o-date

fix: Increase the bottom margin of h2 and h3 editorial headings.
  components/o-editorial-layout/src/scss/_placeholders.scss
Labels: components, o-editorial-layout

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
Labels: components, o-editorial-layout

chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
Labels: components, o-editorial-layout

fix: correct markup in o-header demos
  components/o-header/demos/src/grid-demo.mustache
  components/o-header/demos/src/header.json
  components/o-header/demos/src/header.mustache
  components/o-header/demos/src/mega-menu.json
  components/o-header/demos/src/pa11y.mustache
  components/o-header/demos/src/simple-header.mustache
  components/o-header/demos/src/sticky-header.mustache
  components/o-header/demos/src/subbrand.json
  components/o-header/demos/src/subbrand.mustache
  components/o-header/demos/src/subnav-right-align.json
  components/o-header/demos/src/subnav.json
  components/o-header/demos/src/transparent-header.json
Labels: components, o-header

fix: correct markup in o-header demos
  components/o-header/demos/src/grid-demo.mustache
  components/o-header/demos/src/header.json
  components/o-header/demos/src/header.mustache
  components/o-header/demos/src/mega-menu.json
  components/o-header/demos/src/pa11y.mustache
  components/o-header/demos/src/simple-header.mustache
  components/o-header/demos/src/sticky-header.mustache
  components/o-header/demos/src/subbrand.json
  components/o-header/demos/src/subbrand.mustache
  components/o-header/demos/src/subnav-right-align.json
  components/o-header/demos/src/subnav.json
  components/o-header/demos/src/transparent-header.json
Labels: components, o-header

chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: components, o-header

chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: components, o-header

chore: Update package.json
  package.json
Labels: none

Update scripts/check-next-version.mjs
  scripts/check-next-version.mjs
Labels: scripts

Deploy Storybook to GitHub Pages
  0.23984bbe71228d589042.manager.bundle.js
  0.8742db3c.iframe.bundle.js
  0.8742db3c.iframe.bundle.js.LICENSE.txt
  0.8742db3c.iframe.bundle.js.map
  1.15d8ccb7.iframe.bundle.js
  1.8328dbba5384871eb722.manager.bundle.js
  10.cd421729a842a816771f.manager.bundle.js
  11.eae94d642b7c347e1f65.manager.bundle.js
  11.eae94d642b7c347e1f65.manager.bundle.js.LICENSE.txt
  12.cc7f7e831bbb177d6de4.manager.bundle.js
  5.7da4c96d.iframe.bundle.js
  5.cb32a933b8439501841d.manager.bundle.js
  5.cb32a933b8439501841d.manager.bundle.js.LICENSE.txt
  6.7d9b113ce0e4da887a92.manager.bundle.js
  6.bda89943.iframe.bundle.js
  6.bda89943.iframe.bundle.js.LICENSE.txt
  6.bda89943.iframe.bundle.js.map
  7.87721a5fb52c7979480f.manager.bundle.js
  7.f4baf9a8.iframe.bundle.js
  8.fe4c922e0d3a8d2b8d03.manager.bundle.js
  9.5fbff8d20461836e3817.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.60ad980376ad72cb5271.manager.bundle.js
  main.e6361a3d.iframe.bundle.js
  runtime~main.5f9ab31fa80f851f56fc.manager.bundle.js
  runtime~main.b9db39ae.iframe.bundle.js
  vendors~main.7c058e1b.iframe.bundle.js
  vendors~main.7c058e1b.iframe.bundle.js.LICENSE.txt
  vendors~main.7c058e1b.iframe.bundle.js.map
  vendors~main.9a753a5155cb0f897b28.manager.bundle.js
  vendors~main.9a753a5155cb0f897b28.manager.bundle.js.LICENSE.txt
Labels: none

fix: Increase o-editoiral-typography features xhead (h4) heading size
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-typography

chore: Add content to fixture between h1 and h2
  components/o-layout/test/helpers/fixtures.js
Labels: components, o-layout

chore: update package-lock.json
  package-lock.json
Labels: none

chore: Add content to fixture between h1 and h2
  components/o-layout/test/helpers/fixtures.js
Labels: components, o-layout

chore: update package-lock.json
  package-lock.json
Labels: none

Update scripts/check-next-version.mjs
  scripts/check-next-version.mjs
Labels: scripts

chore: allow eslint config to parse jsx
  presets/eslint-config-origami-component/config.js
Labels: eslint-config-origami-component

chore: Update package.json
  package.json
Labels: none

chore: add .prettierrc.toml to o-buttons
  components/o-buttons/.prettierrc.toml
Labels: components, o-buttons

chore: add storybook dependencies
  package-lock.json
Labels: none

chore: add an initial o-buttons tsx template
  components/o-buttons/src/tsx/button.tsx
  components/o-buttons/src/tsx/group.tsx
  components/o-buttons/src/tsx/pagination.tsx
Labels: components, o-buttons

chore: add storybook config
  .storybook/main.js
  .storybook/preview.js
Labels: none
