Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*

chore: remove unused import
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons

docs: Add storybook story to o-buttons
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: don't ship the jsx templates yet
  components/o-buttons/.npmignore
Labels: components, o-buttons

chore: update package
  package-lock.json
  package.json
Labels: none

chore: move storybook to subdir
  apps/storybook/config/main.js
  apps/storybook/config/preview.js
  apps/storybook/package.json
  apps/storybook/stories/.gitkeep
Labels: none

chore: remove templates from ignorefile
  components/o-buttons/.npmignore
Labels: components, o-buttons

chore: remove storybook dependencies
  package-lock.json
  package.json
Labels: none

chore: add monorepo node_modules to includePaths
  apps/storybook/config/main.js
  apps/storybook/package.json
Labels: none

docs: add small readme
  apps/storybook/readme.md
Labels: none

chore: move shared deps to root package.json
  apps/storybook/package.json
  package-lock.json
  package.json
Labels: none

docs: note that the non-workspaceness is on purpoise
  apps/storybook/readme.md
Labels: none

chore: add figma panel to storybook
  apps/storybook/config/main.js
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: default to secondary for buttons
  components/o-buttons/.npmignore
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons

chore: if someone selects iconOnly but no icon, act as if they didn't select iconOnly
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons

chore: add a fancy thing that changes the background colour for inverse buttons
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: build storybook with modern imporat
  apps/storybook/package.json
Labels: none

chore: add build-website action
  .github/workflows/build-websites.yml
  .gitignore
  scripts/build-website.bash
Labels: scripts

chore: set ruby-version
  .github/workflows/build-websites.yml
Labels: none

chore: force-commit the storybook lockfile
  apps/storybook/package-lock.json
Labels: none

chore: dont fail for ignores of src/tsx
  tools/origami-build-tools/lib/tasks/verify-dot-npmignore.js
  tools/origami-build-tools/test/integration/verify/fixtures/npmignore-invalid/.npmignore
  tools/origami-build-tools/test/integration/verify/fixtures/npmignore/.npmignore
  tools/origami-build-tools/test/integration/verify/verify.test.js
Labels: tools, origami-build-tools

chore: add missing stylelint dependency
  package-lock.json
  presets/stylelint-config-origami-component/package.json
Labels: stylelint-config-origami-component

chore: replace reduce with map,join
  tools/origami-build-tools/lib/tasks/verify-sass.js
Labels: tools, origami-build-tools

Update verify-sass.js
  tools/origami-build-tools/lib/tasks/verify-sass.js
Labels: tools, origami-build-tools

Deploying to origami.ft.com from @ Financial-Times/origami@1051b8cbf0374fe48aa4477a1fdf8966b1118287 🚀
  feed.xml
  sitemap.xml
  storybook/0.2db4e0b8.iframe.bundle.js
  storybook/0.82d6b3eabf727fed3655.manager.bundle.js
  storybook/4.a48ae45b283d94998dfe.manager.bundle.js
  storybook/4.a48ae45b283d94998dfe.manager.bundle.js.LICENSE.txt
  storybook/4.f1d25014.iframe.bundle.js
  storybook/4.f1d25014.iframe.bundle.js.LICENSE.txt
  storybook/4.f1d25014.iframe.bundle.js.map
  storybook/5.0edd85ad2b33e4945b07.manager.bundle.js
  storybook/5.8491c2bb.iframe.bundle.js
  storybook/6.1b7a4244f1511277b931.manager.bundle.js
  storybook/6.1b7a4244f1511277b931.manager.bundle.js.LICENSE.txt
  storybook/6.f0a454e2.iframe.bundle.js
  storybook/6.f0a454e2.iframe.bundle.js.LICENSE.txt
  storybook/6.f0a454e2.iframe.bundle.js.map
  storybook/7.4f273480.iframe.bundle.js
  storybook/7.655baad64245bc090bfa.manager.bundle.js
  storybook/8.7d4bde9aadd877f63a30.manager.bundle.js
  storybook/8.7d4bde9aadd877f63a30.manager.bundle.js.LICENSE.txt
  storybook/9.04b97c4c74c8d5e6a570.manager.bundle.js
  storybook/favicon.ico
  storybook/iframe.html
  storybook/index.html
  storybook/main.97c795bccdf3bf91f6c0.manager.bundle.js
  storybook/main.9dce2649.iframe.bundle.js
  storybook/runtime~main.0e5a0d77.iframe.bundle.js
  storybook/runtime~main.de5f9d9ebaaafc4f2966.manager.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.LICENSE.txt
  storybook/vendors~main.6c51b1d9.iframe.bundle.js.map
  storybook/vendors~main.b47851b9a7eb6c7b9951.manager.bundle.js
  storybook/vendors~main.b47851b9a7eb6c7b9951.manager.bundle.js.LICENSE.txt
Labels: none

chore: fix location of publish script
  .github/workflows/release-please.yml
Labels: none

Update apps/storybook/config/preview.js
  apps/storybook/config/preview.js
Labels: none

chore: remove .only
  tools/origami-build-tools/test/integration/verify/verify.test.js
Labels: tools, origami-build-tools

chore: add figma panel to storybook
  apps/storybook/config/main.js
  components/o-buttons/stories/button.scss
  components/o-buttons/stories/button.stories.tsx
Labels: components, o-buttons

chore: Update package.json
  package.json
Labels: none

chore: move storybook to subdir
  apps/storybook/config/main.js
  apps/storybook/config/preview.js
  apps/storybook/package.json
  apps/storybook/stories/.gitkeep
Labels: none

chore: dont fail for ignores of src/tsx
  tools/origami-build-tools/lib/tasks/verify-dot-npmignore.js
  tools/origami-build-tools/test/integration/verify/fixtures/npmignore-invalid/.npmignore
  tools/origami-build-tools/test/integration/verify/fixtures/npmignore/.npmignore
  tools/origami-build-tools/test/integration/verify/verify.test.js
Labels: tools, origami-build-tools

chore: add missing stylelint dependency
  package-lock.json
  presets/stylelint-config-origami-component/package.json
Labels: stylelint-config-origami-component

chore: add monorepo node_modules to includePaths
  apps/storybook/config/main.js
  apps/storybook/package.json
Labels: none

chore: remove storybook dependencies
  package-lock.json
  package.json
Labels: none

chore: remove .only
  tools/origami-build-tools/test/integration/verify/verify.test.js
Labels: tools, origami-build-tools

chore: fix location of publish script
  .github/workflows/release-please.yml
Labels: none

Update scripts/check-next-version.mjs
  scripts/check-next-version.mjs
Labels: scripts

docs: note that the non-workspaceness is on purpoise
  apps/storybook/readme.md
Labels: none

Update apps/storybook/config/preview.js
  apps/storybook/config/preview.js
Labels: none

chore: if someone selects iconOnly but no icon, act as if they didn't select iconOnly
  components/o-buttons/src/tsx/button.tsx
Labels: components, o-buttons
