Repository Financial-Times/origami, changes with the labels that .github/labeler.yml gives for each.
All labels: components, libraries, hooks, scripts, tools, templates, n-notification, o-audio, o-autocomplete, o-banner, o-big-number, o-buttons, o-colors, o-comments, o-cookie-message, o-date, o-editorial-layout, o-editorial-typography, o-expander, o-fonts, o-footer, o-footer-services, o-forms, o-ft-affiliate-ribbon, o-grid, o-header, o-header-services, o-icons, o-labels, o-layout, o-lazy-load, o-loading, o-message, o-meter, o-normalise, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-syntax-highlight, o-table, o-tabs, o-teaser, o-teaser-collection, o-toggle, o-tooltip, o-topper, o-typography, o-video, o-viewport, o-visual-effects, o-autoinit, o-brand, o-errors, o-tracking, o-utils, eslint-config-origami-component, remark-preset-lint-origami-component, stylelint-config-origami-component, origami-build-tools

feat: add wheat-100 to o-colors master brand palette
  components/o-colors/demos/src/palettes/master-palette.json
  components/o-colors/src/scss/_palette.scss
Labels: components, o-colors

feat: add wheat-100 to o-colors master brand palette
  components/o-colors/demos/src/palettes/master-palette.json
  components/o-colors/src/scss/_palette.scss
Labels: components, o-colors

chore: release main
  .release-please-manifest.json
  components/o-colors/CHANGELOG.md
  components/o-colors/package.json
Labels: components, o-colors

chore: Update .release-please-manifest.json
  .release-please-manifest.json
Labels: none

chore: release main
  .release-please-manifest.json
  components/o-colors/CHANGELOG.md
  components/o-colors/package.json
Labels: components, o-colors

chore: Update .release-please-manifest.json
  .release-please-manifest.json
Labels: none

perf: improve performance and logic around how to highlight headings in the sidebar
  components/o-layout/origami.json
  components/o-layout/package.json
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: update lockfile
  package-lock.json
Labels: none

fix: add custom navigation to this.navAnchors in order to stop errors being thrown
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: extract the last element on a page into a variable
  components/o-layout/src/js/layout.js
Labels: components, o-layout

fix: fallback to 16px if an o-layout__main is not on the page
  components/o-layout/src/js/layout.js
Labels: components, o-layout

fix: only setup scrolling based heading highlighting if intersectionobserver exists
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: increase timeout in a test to reducde amount of incorrect test failures
  components/o-layout/test/layout.test.js
Labels: components, o-layout

refactor: rename anchor to headingAnchor
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: Don't check for package lock changes!
  package-lock.json
  package.json
Labels: none

chore: update test to pass error to done to aid in debugging
  components/o-layout/test/layout.test.js
Labels: components, o-layout

chore: update lockfile
  package-lock.json
Labels: none

chore: increase timeout in a test to reducde amount of incorrect test failures
  components/o-layout/test/layout.test.js
Labels: components, o-layout

chore: update test to pass error to done to aid in debugging
  components/o-layout/test/layout.test.js
Labels: components, o-layout

fix: only setup scrolling based heading highlighting if intersectionobserver exists
  components/o-layout/src/js/layout.js
Labels: components, o-layout

perf: improve performance and logic around how to highlight headings in the sidebar
  components/o-layout/origami.json
  components/o-layout/package.json
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: Don't check for package lock changes!
  package-lock.json
  package.json
Labels: none

refactor: rename anchor to headingAnchor
  components/o-layout/src/js/layout.js
Labels: components, o-layout

fix: fallback to 16px if an o-layout__main is not on the page
  components/o-layout/src/js/layout.js
Labels: components, o-layout

fix: add custom navigation to this.navAnchors in order to stop errors being thrown
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: extract the last element on a page into a variable
  components/o-layout/src/js/layout.js
Labels: components, o-layout

chore: release main
  .release-please-manifest.json
  components/o-layout/CHANGELOG.md
  components/o-layout/package.json
Labels: components, o-layout

fix: update remark-preset to the version which includes package.json support
  presets/remark-preset-lint-origami-component/index.js
  presets/remark-preset-lint-origami-component/package.json
  presets/remark-preset-lint-origami-component/rules/readme-has-name.js
  presets/remark-preset-lint-origami-component/test/invalid/invalid-missing-general-usage/package.json
  presets/remark-preset-lint-origami-component/test/invalid/invalid-toc-with-heading/package.json
  presets/remark-preset-lint-origami-component/test/invalid/invalid-toc-without-heading/package.json
  presets/remark-preset-lint-origami-component/test/invalid/kitchen-sink/package.json
  presets/remark-preset-lint-origami-component/test/valid/financial-times-namespace/README.md
  presets/remark-preset-lint-origami-component/test/valid/financial-times-namespace/package.json
  presets/remark-preset-lint-origami-component/test/valid/table-of-contents-heading/package.json
  presets/remark-preset-lint-origami-component/test/valid/table-of-contents-no-heading/package.json
Labels: remark-preset-lint-origami-component

fix: do not pretty-print .release-please-manifest.json as release-please does not pretty print the file
  scripts/regenerate-ci-config-files.js
Labels: scripts

chore: output release-please-manifest without spaces or newlines
  scripts/regenerate-ci-config-files.js
Labels: scripts

chore: release main
  .release-please-manifest.json
  components/o-layout/CHANGELOG.md
  components/o-layout/package.json
Labels: components, o-layout

chore: output release-please-manifest without spaces or newlines
  scripts/regenerate-ci-config-files.js
Labels: scripts

fix: update remark-preset to the version which includes package.json support
  presets/remark-preset-lint-origami-component/index.js
  presets/remark-preset-lint-origami-component/package.json
  presets/remark-preset-lint-origami-component/rules/readme-has-name.js
  presets/remark-preset-lint-origami-component/test/invalid/invalid-missing-general-usage/package.json
  presets/remark-preset-lint-origami-component/test/invalid/invalid-toc-with-heading/package.json
  presets/remark-preset-lint-origami-component/test/invalid/invalid-toc-without-heading/package.json
  presets/remark-preset-lint-origami-component/test/invalid/kitchen-sink/package.json
  presets/remark-preset-lint-origami-component/test/valid/financial-times-namespace/README.md
  presets/remark-preset-lint-origami-component/test/valid/financial-times-namespace/package.json
  presets/remark-preset-lint-origami-component/test/valid/table-of-contents-heading/package.json
  presets/remark-preset-lint-origami-component/test/valid/table-of-contents-no-heading/package.json
Labels: remark-preset-lint-origami-component

chore: refactor from using Maps to using Objects
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: refactor to assume the script always runs from the root of the project
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: extract logic to find which packages have changed into it's own module
  package-lock.json
  package.json
  scripts/check-next-version.js
  scripts/lib/packagesWhichChanged.js
Labels: scripts

fix: do not retrive commits which are on the baseRef and not on the headRef
  scripts/lib/getChangedPackages.js
Labels: scripts

chore: rename packagesWhichChanged to getChangedPackages
  scripts/check-next-version.js
  scripts/lib/getChangedPackages.js
Labels: scripts

feat: add script which logs out what releases will be made for which packages
  scripts/check-next-version.js
Labels: scripts

chore: rewrite getChangedPackages to return all packages which have changed and not only those which have user facing changes
  scripts/check-next-version.js
  scripts/lib/getChangedPackages.js
Labels: scripts

.github/labeler.yml:

components:
  - components/**/*

libraries:
  - libraries/**/*

hooks:
  - hooks/**/*

scripts:
  - scripts/**/*

tools:
  - tools/**/*

templates:
  - templates/**/*

n-notification:
  - components/n-notification/**/*
o-audio:
  - components/o-audio/**/*
o-autocomplete:
  - components/o-autocomplete/**/*
o-banner:
  - components/o-banner/**/*
o-big-number:
  - components/o-big-number/**/*
o-buttons:
  - components/o-buttons/**/*
o-colors:
  - components/o-colors/**/*
o-comments:
  - components/o-comments/**/*
o-cookie-message:
  - components/o-cookie-message/**/*
o-date:
  - components/o-date/**/*
o-editorial-layout:
  - components/o-editorial-layout/**/*
o-editorial-typography:
  - components/o-editorial-typography/**/*
o-expander:
  - components/o-expander/**/*
o-fonts:
  - components/o-fonts/**/*
o-footer:
  - components/o-footer/**/*
o-footer-services:
  - components/o-footer-services/**/*
o-forms:
  - components/o-forms/**/*
o-ft-affiliate-ribbon:
  - components/o-ft-affiliate-ribbon/**/*
o-grid:
  - components/o-grid/**/*
o-header:
  - components/o-header/**/*
o-header-services:
  - components/o-header-services/**/*
o-icons:
  - components/o-icons/**/*
o-labels:
  - components/o-labels/**/*
o-layout:
  - components/o-layout/**/*
o-lazy-load:
  - components/o-lazy-load/**/*
o-loading:
  - components/o-loading/**/*
o-message:
  - components/o-message/**/*
o-meter:
  - components/o-meter/**/*
o-normalise:
  - components/o-normalise/**/*
o-overlay:
  - components/o-overlay/**/*
o-quote:
  - components/o-quote/**/*
o-share:
  - components/o-share/**/*
o-spacing:
  - components/o-spacing/**/*
o-stepped-progress:
  - components/o-stepped-progress/**/*
o-subs-card:
  - components/o-subs-card/**/*
o-syntax-highlight:
  - components/o-syntax-highlight/**/*
o-table:
  - components/o-table/**/*
o-tabs:
  - components/o-tabs/**/*
o-teaser:
  - components/o-teaser/**/*
o-teaser-collection:
  - components/o-teaser-collection/**/*
o-toggle:
  - components/o-toggle/**/*
o-tooltip:
  - components/o-tooltip/**/*
o-topper:
  - components/o-topper/**/*
o-typography:
  - components/o-typography/**/*
o-video:
  - components/o-video/**/*
o-viewport:
  - components/o-viewport/**/*
o-visual-effects:
  - components/o-visual-effects/**/*
o-autoinit:
  - libraries/o-autoinit/**/*
o-brand:
  - libraries/o-brand/**/*
o-errors:
  - libraries/o-errors/**/*
o-tracking:
  - libraries/o-tracking/**/*
o-utils:
  - libraries/o-utils/**/*
eslint-config-origami-component:
  - presets/eslint-config-origami-component/**/*
remark-preset-lint-origami-component:
  - presets/remark-preset-lint-origami-component/**/*
stylelint-config-origami-component:
  - presets/stylelint-config-origami-component/**/*
origami-build-tools:
  - tools/origami-build-tools/**/*
