Repository Financial-Times/origami, pull requests merged in 2021-10, with the labels that each got.

#324 feat: Update o-editorial-typography h4 for a "features xhead" heading
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-layout/src/scss/_placeholders.scss
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/origami.json
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: blocked, components, o-editorial-layout, o-editorial-typography

#338 chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography, autorelease: pending

#340 add a specific time for the demo date that prints the whole date
  components/o-date/demos/src/declarative.js
  components/o-date/demos/src/declarative.mustache
Labels: components, o-date

#343 Revert "Update editorial h4 for a "features xhead" heading"
  components/o-editorial-layout/demos/src/demo.mustache
  components/o-editorial-layout/demos/src/wrapper.mustache
  components/o-editorial-typography/demos/src/headings.mustache
  components/o-editorial-typography/demos/src/headline.mustache
  components/o-editorial-typography/src/scss/_mixins.scss
Labels: components, o-editorial-layout, o-editorial-typography

#344 chore: release main
  .release-please-manifest.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-editorial-typography/CHANGELOG.md
  components/o-editorial-typography/package.json
Labels: components, o-editorial-layout, o-editorial-typography, autorelease: pending

#346 [ADSDEV-899] - updated width and height to 2px to better serve users with voice activation software
  components/o-normalise/src/scss/_mixins.scss
Labels: components, o-normalise
