Repository Financial-Times/origami, pull requests merged in 2021-11, with the labels that each got.

#372 docs: start adding docs
  CONTRIBUTING.md
  README.md
Labels: documentation

#394 remove the remaining build and test scripts used on old heroku app
  libraries/o-autoinit/package.json
  libraries/o-errors/package.json
  libraries/o-tracking/package.json
Labels: libraries, o-autoinit, o-errors, o-tracking

#386 chore: release main
  .release-please-manifest.json
  components/o-autocomplete/CHANGELOG.md
  components/o-autocomplete/package.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
  components/o-colors/CHANGELOG.md
  components/o-colors/package.json
  components/o-editorial-layout/CHANGELOG.md
  components/o-editorial-layout/package.json
  components/o-fonts/CHANGELOG.md
  components/o-fonts/package.json
  components/o-footer-services/CHANGELOG.md
  components/o-footer-services/package.json
  components/o-footer/CHANGELOG.md
  components/o-footer/package.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
  components/o-header-services/CHANGELOG.md
  components/o-header-services/package.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
  components/o-labels/CHANGELOG.md
  components/o-labels/package.json
  components/o-layout/CHANGELOG.md
  components/o-layout/package.json
  components/o-loading/CHANGELOG.md
  components/o-loading/package.json
  components/o-message/CHANGELOG.md
  components/o-message/package.json
  components/o-overlay/CHANGELOG.md
  components/o-overlay/package.json
  components/o-quote/CHANGELOG.md
  components/o-quote/package.json
  components/o-share/CHANGELOG.md
  components/o-share/package.json
  components/o-spacing/CHANGELOG.md
  components/o-spacing/package.json
  components/o-stepped-progress/CHANGELOG.md
  components/o-stepped-progress/package.json
  components/o-subs-card/CHANGELOG.md
  components/o-subs-card/package.json
  components/o-table/CHANGELOG.md
  components/o-table/package.json
  components/o-tabs/CHANGELOG.md
  components/o-tabs/package.json
  components/o-toggle/CHANGELOG.md
  components/o-toggle/package.json
  components/o-tooltip/CHANGELOG.md
  components/o-tooltip/package.json
  components/o-typography/CHANGELOG.md
  components/o-typography/package.json
  libraries/o-brand/CHANGELOG.md
  libraries/o-brand/package.json
Labels: libraries, components, o-autocomplete, o-banner, o-buttons, o-colors, o-editorial-layout, o-fonts, o-footer, o-footer-services, o-forms, o-header, o-header-services, o-labels, o-layout, o-loading, o-message, o-overlay, o-quote, o-share, o-spacing, o-stepped-progress, o-subs-card, o-table, o-tabs, o-toggle, o-tooltip, o-typography, o-brand, autorelease: pending

#396 chore: release main
  .release-please-manifest.json
  libraries/sass-mq/CHANGELOG.md
  libraries/sass-mq/package.json
Labels: libraries, autorelease: pending, sass-mq

#395 docs: remove the concept of an imageset from the website
  apps/website/_manifests/imageset-json.md
  apps/website/_manifests/origami-json.md
  apps/website/_specification-v1/imageset.md
  apps/website/_specification-v1/manifest.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
Labels: website

#400 feat: release "master" brand with "core" brand in site documentation
  apps/website/_components/customisation.md
  apps/website/_emails/newsletter-2019-04.html
  apps/website/_emails/newsletter-2019-05.html
  apps/website/_manifests/origami-json.md
  apps/website/_posts/2019-04-30-newsletter.md
  apps/website/_posts/2019-05-31-newsletter.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-2.md
  apps/website/_tutorials/new-component/create-a-new-component-part-3.md
  apps/website/_tutorials/new-component/create-a-new-component-part-4.md
  apps/website/_tutorials/new-component/create-a-new-component-part-5.md
  apps/website/_tutorials/new-component/create-a-new-component-part-7.md
Labels: website

#413 fix: pin components to latest o-brand, or greater
  components/o-autocomplete/package.json
  components/o-buttons/package.json
  components/o-editorial-layout/package.json
  components/o-fonts/package.json
  components/o-footer-services/package.json
  components/o-footer/package.json
  components/o-forms/package.json
  components/o-header-services/package.json
  components/o-header/package.json
  components/o-labels/package.json
  components/o-layout/package.json
  components/o-loading/package.json
  components/o-message/package.json
  components/o-overlay/package.json
  components/o-share/package.json
  components/o-table/package.json
  components/o-tabs/package.json
Labels: components, o-autocomplete, o-buttons, o-editorial-layout, o-fonts, o-footer, o-footer-services, o-forms, o-header, o-header-services, o-labels, o-layout, o-loading, o-message, o-overlay, o-share, o-table, o-tabs

#411 fix: Remove Build Service v2 use from origami website
  apps/website/_includes/demo.html
  apps/website/_layouts/default.html
  apps/website/_layouts/email-newsletter.html
Labels: website

#420 chore: release main
  .release-please-manifest.json
  components/o-grid/CHANGELOG.md
  components/o-grid/package.json
  components/o-tooltip/CHANGELOG.md
  components/o-tooltip/package.json
Labels: autorelease: pending

#426 chore: release main
  .release-please-manifest.json
  components/o-subs-card/CHANGELOG.md
  components/o-subs-card/package.json
Labels: autorelease: pending

#447 chore: release main
  .release-please-manifest.json
  presets/eslint-config-origami-component/CHANGELOG.md
  presets/eslint-config-origami-component/package.json
Labels: autorelease: pending

#451 feat: add tool to help teams avoid installing versions of origami which are only available on npm and not also on bower
  .github/labeler.yml
  .github/workflows/test-tools-origami-bower-safe-version-supervisor.yml
  .release-please-manifest.json
  release-please-config.json
  tools/origami-bower-safe-version-supervisor/README.md
  tools/origami-bower-safe-version-supervisor/index.js
  tools/origami-bower-safe-version-supervisor/last-versions-available-on-bower.js
  tools/origami-bower-safe-version-supervisor/package.json
Labels: current, newsletter

#460 chore: release main
  .release-please-manifest.json
  tools/origami-bower-safe-version-supervisor/CHANGELOG.md
  tools/origami-bower-safe-version-supervisor/package.json
Labels: autorelease: pending

#462 chore: release main
  .release-please-manifest.json
  tools/origami-bower-safe-version-supervisor/CHANGELOG.md
  tools/origami-bower-safe-version-supervisor/package.json
Labels: autorelease: pending

#467 chore: release main
  .release-please-manifest.json
  tools/origami-bower-safe-version-supervisor/CHANGELOG.md
  tools/origami-bower-safe-version-supervisor/package.json
Labels: autorelease: pending

#472 chore: release main
  .release-please-manifest.json
  components/o-stepped-progress/CHANGELOG.md
  components/o-stepped-progress/package.json
Labels: autorelease: pending
