Repository Financial-Times/origami, pull requests merged in 2022-01, with the labels that each got.

#492 Fix comments demo duplicate story issue
  components/o-comments/demos/src/data/data.json
Labels: release:patch

#493 chore: release main
  .release-please-manifest.json
  components/o-comments/CHANGELOG.md
  components/o-comments/package.json
Labels: autorelease: pending

#512 chore: release main
  .release-please-manifest.json
  components/o-cookie-message/CHANGELOG.md
  components/o-cookie-message/package.json
Labels: autorelease: pending

#515 chore: release main
  .release-please-manifest.json
  components/o-expander/CHANGELOG.md
  components/o-expander/package.json
Labels: autorelease: pending

#525 o-forms remove demo inputs which have no ID
  components/o-forms/demos/src/interactive.mustache
  components/o-forms/demos/src/inverse-form-whitelabel.mustache
  components/o-forms/demos/src/inverse-form.mustache
Labels: components, current

#526 chore: release main
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
Labels: autorelease: pending

#538 chore: release main
  .release-please-manifest.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
Labels: autorelease: pending

#555 chore: release main
  .release-please-manifest.json
  components/o-cookie-message/CHANGELOG.md
  components/o-cookie-message/package.json
Labels: autorelease: pending

#560 add polyfill.io urls to local demos
  tools/demo-build/index.js
  tools/origami-tools-helpers/construct-polyfill-url.js
  tools/origami-tools-helpers/index.js
Labels: cli, current

#561 o-tabs: add/correct all the required features to get o-tabs working in ie11
  components/o-tabs/origami.json
Labels: bug, current

#563 o-toggle: add/correct all the required features to get demos working in ie11
  components/o-toggle/origami.json
Labels: bug, components

#552 o-table: Make demos work in IE11 by declaring Element.prototype.closest as a required feature
  components/o-table/origami.json
Labels: bug, components, current

#564 chore: release main
  .release-please-manifest.json
  components/o-table/CHANGELOG.md
  components/o-table/package.json
  components/o-tabs/CHANGELOG.md
  components/o-tabs/package.json
  components/o-toggle/CHANGELOG.md
  components/o-toggle/package.json
Labels: autorelease: pending

#570 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#562 Fix Sass compilation with relative units enabled
  components/o-labels/src/scss/_mixins.scss
  components/o-labels/test/scss/_mixins.test.scss
Labels: components, current

#577 docs: Remove obt from the readme
  README.md
Labels: documentation

#576 chore: release main
  .release-please-manifest.json
  components/o-grid/CHANGELOG.md
  components/o-grid/package.json
  components/o-labels/CHANGELOG.md
  components/o-labels/package.json
Labels: autorelease: pending

#582 chore: release main
  .release-please-manifest.json
  components/o-grid/CHANGELOG.md
  components/o-grid/package.json
Labels: autorelease: pending

#585 chore: release main
  .release-please-manifest.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
Labels: autorelease: pending

#587 chore: release main
  .release-please-manifest.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
Labels: autorelease: pending
