Repository Financial-Times/origami, pull requests merged in 2022-02, with the labels that each got.

#605 chore: release main
  .release-please-manifest.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
  components/o-tabs/CHANGELOG.md
  components/o-tabs/package.json
Labels: autorelease: pending

#607 o-banner: improve link descriptions in demo
  components/o-banner/demos/src/banner.mustache
Labels: components, accessibility

#612 chore: release main
  .release-please-manifest.json
  components/o-fonts/CHANGELOG.md
  components/o-fonts/package.json
Labels: autorelease: pending

#616 chore: release main
  .release-please-manifest.json
  components/o-forms/CHANGELOG.md
  components/o-forms/package.json
Labels: autorelease: pending

#620 chore: release main
  .release-please-manifest.json
  components/o-quote/CHANGELOG.md
  components/o-quote/package.json
Labels: autorelease: pending

#624 chore: release main
  .release-please-manifest.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
Labels: autorelease: pending

#626 chore: release main
  .release-please-manifest.json
  components/o-typography/CHANGELOG.md
  components/o-typography/package.json
Labels: autorelease: pending

#628 chore: release main
  .release-please-manifest.json
  components/o-cookie-message/CHANGELOG.md
  components/o-cookie-message/package.json
Labels: autorelease: pending

#629 chore: release main
  .release-please-manifest.json
  components/o-banner/CHANGELOG.md
  components/o-banner/package.json
Labels: autorelease: pending

#631 fix: show the entire focus ring for links within the drawer
  components/o-header/src/scss/features/_drawer.scss
Labels: components, okr, accessibility, o-header

#632 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#633 chore: release main
  .release-please-manifest.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
Labels: autorelease: pending

#643 chore: release main
  .release-please-manifest.json
  components/o-visual-effects/CHANGELOG.md
  components/o-visual-effects/package.json
Labels: autorelease: pending

#645 chore: release main
  .release-please-manifest.json
  components/o-buttons/CHANGELOG.md
  components/o-buttons/package.json
Labels: autorelease: pending

#636 Remove icon for external links which o-typography provides in a mixin
  apps/website/_components/compatibility.md
  apps/website/_components/contributing.md
  apps/website/_components/silent-mode.md
  apps/website/_components/versioning.md
  apps/website/_includes/footer.html
  apps/website/_manifests/origami-json.md
  apps/website/_posts/2019-01-30-newsletter.md
  apps/website/_posts/2019-02-28-newsletter.md
  apps/website/_principles/accessibility.md
  apps/website/_principles/design.md
  apps/website/_principles/tone-and-language.md
  apps/website/_services/bower-registry.md
  apps/website/_services/build-service.md
  apps/website/_services/image-service.md
  apps/website/_services/navigation-service.md
  apps/website/_services/polyfill-service.md
  apps/website/_services/repo-data.md
  apps/website/_specification-v1/components.md
  apps/website/_specification-v1/javascript.md
  apps/website/_specification-v1/manifest.md
  apps/website/_specification-v1/markup.md
  apps/website/_specification-v1/sass.md
  apps/website/_specification-v1/services.md
  apps/website/_tutorials/build-service.md
  apps/website/_tutorials/manual-build.md
  apps/website/_tutorials/new-component/create-a-new-component-part-1.md
  apps/website/_tutorials/new-component/create-a-new-component-part-8.md
  apps/website/pages/home.html
  apps/website/pages/specification-v1.md
  components/o-cookie-message/README.md
  components/o-cookie-message/demos/src/custom-html-full.mustache
  components/o-cookie-message/src/js/cookie-message.js
  components/o-cookie-message/src/scss/_mixins.scss
  components/o-cookie-message/src/tsx/cookie-message.tsx
  components/o-cookie-message/test/helpers/fixtures.js
  components/o-footer-services/README.md
  components/o-footer-services/demos/src/footer-content-only.mustache
  components/o-footer-services/demos/src/footer-logo-content.mustache
  components/o-footer-services/demos/src/footer.mustache
  components/o-footer-services/src/scss/_mixins.scss
  components/o-layout/demos/src/shared/footer.mustache
  components/o-typography/README.md
  components/o-typography/demos/src/body.mustache
  components/o-typography/demos/src/links.mustache
  components/o-typography/main.scss
  components/o-typography/src/scss/use-cases/_general.scss
  components/o-typography/src/tsx/typography.tsx
  components/o-typography/stories/typography-body.stories.tsx
  components/o-typography/stories/typography-links.stories.tsx
  components/o-typography/test/scss/_mixins.test.scss
  components/o-typography/test/scss/index.test.scss
Labels: components, okr, accessibility

#646 chore: release main
  .release-please-manifest.json
  components/o-cookie-message/CHANGELOG.md
  components/o-cookie-message/package.json
  components/o-footer-services/CHANGELOG.md
  components/o-footer-services/package.json
  components/o-layout/CHANGELOG.md
  components/o-layout/package.json
  components/o-typography/CHANGELOG.md
  components/o-typography/package.json
Labels: autorelease: pending
