Repository Financial-Times/origami, pull requests merged in 2024-05, with the labels that each got.

#1623 backstage: bump o-tracking internal version
  libraries/o-tracking/src/javascript/tracking.js
Labels: o-tracking

#1628 chore: release main
  .release-please-manifest.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Labels: autorelease: pending

#1629 chore: release main
  .release-please-manifest.json
  components/o-video/CHANGELOG.md
  components/o-video/package.json
Labels: autorelease: pending

#1641 chore: release main
  .release-please-manifest.json
  components/o-multi-select/CHANGELOG.md
  components/o-multi-select/package.json
Labels: autorelease: pending

#1644 chore: release main
  .release-please-manifest.json
  components/o-multi-select/CHANGELOG.md
  components/o-multi-select/package.json
Labels: autorelease: pending

#1630 feat!: remove verbose classes
  components/o3-typography/README.md
  components/o3-typography/src/tsx/body.tsx
  components/o3-typography/src/tsx/caption.tsx
  components/o3-typography/src/tsx/footer.tsx
  components/o3-typography/src/tsx/link.tsx
  components/o3-typography/src/tsx/list.tsx
  components/o3-typography/src/tsx/wrapper.tsx
Labels: chromatic

#1656 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Labels: autorelease: pending

#1660 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#1668 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1679 chore: release main
  .release-please-manifest.json
  components/o-layout/CHANGELOG.md
  components/o-layout/package.json
Labels: autorelease: pending

#1680 chore: release main
  .release-please-manifest.json
  components/o3-editorial-typography/CHANGELOG.md
  components/o3-editorial-typography/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  components/o3-typography/CHANGELOG.md
  components/o3-typography/package.json
Labels: autorelease: pending
