Repository Financial-Times/origami, pull requests merged in 2024-09, with the labels that each got.

#1809 fix: align padding in drawer
  components/o-header/src/scss/features/_drawer.scss
  components/o-header/src/scss/features/_search.scss
  components/o-header/src/tsx/drawer.tsx
Labels: percy

#1806 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#1814 backstage: remove storybook base dir
  .github/workflows/chromatic.yml
Labels: chromatic

#1818 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
  components/o3-editorial-typography/CHANGELOG.md
  components/o3-editorial-typography/package.json
  components/o3-form/CHANGELOG.md
  components/o3-form/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
  package-lock.json
Labels: autorelease: pending

#1819 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#1822 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
  components/o3-editorial-typography/CHANGELOG.md
  components/o3-editorial-typography/package.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
  package-lock.json
Labels: autorelease: pending

#1826 chore: release main
  .release-please-manifest.json
  components/o-header/CHANGELOG.md
  components/o-header/package.json
Labels: autorelease: pending

#1828 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1829 chore: release main
  .release-please-manifest.json
  components/o3-social-sign-in/CHANGELOG.md
  components/o3-social-sign-in/package.json
Labels: autorelease: pending

#1833 chore: release main
  .release-please-manifest.json
  components/o3-social-sign-in/CHANGELOG.md
  components/o3-social-sign-in/package.json
Labels: autorelease: pending
