Repository Financial-Times/origami, pull requests merged in 2024-04, with the labels that each got.

#1527 chore: release main
  .release-please-manifest.json
  components/o-teaser/CHANGELOG.md
  components/o-teaser/package.json
Labels: autorelease: pending

#1532 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1537 chore: release main
  .release-please-manifest.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
Labels: autorelease: pending

#1542 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Labels: autorelease: pending

#1541 Or 584 add visual regression test
  .github/pull_request_template.md
  .github/workflows/chromatic.yml
  apps/o3-storybook/.gitignore
  apps/o3-storybook/.storybook/main.ts
  apps/o3-storybook/.storybook/preview.ts
  apps/o3-storybook/babel.config.json
  apps/o3-storybook/chromatic.config.json
  apps/o3-storybook/package.json
  apps/o3-storybook/stories/welcome.stories.mdx
  components/o3-button/stories/pagination-template.tsx
  components/o3-tooltip/stories/story-template.tsx
  package-lock.json
Labels: chromatic

#1544 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1547 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
Labels: autorelease: pending

#1551 chore: release main
  .release-please-manifest.json
  components/o-header-services/CHANGELOG.md
  components/o-header-services/package.json
  components/o-icons/CHANGELOG.md
  components/o-icons/package.json
  components/o-share/CHANGELOG.md
  components/o-share/package.json
  components/o-social-follow/CHANGELOG.md
  components/o-social-follow/package.json
Labels: autorelease: pending

#1556 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1557 chore: release main
  .release-please-manifest.json
  components/o-autocomplete/CHANGELOG.md
  components/o-autocomplete/package.json
Labels: autorelease: pending

#1562 chore: release main
  .release-please-manifest.json
  components/o-teaser/CHANGELOG.md
  components/o-teaser/package.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1563 fix: fix bug in expander tsx template
  components/o-expander/src/tsx/expander.tsx
Labels: percy

#1565 chore: release main
  .release-please-manifest.json
  components/o-expander/CHANGELOG.md
  components/o-expander/package.json
  components/o-overlay/CHANGELOG.md
  components/o-overlay/package.json
Labels: autorelease: pending

#1567 chore: release main
  .release-please-manifest.json
  components/o3-typography/CHANGELOG.md
  components/o3-typography/package.json
Labels: autorelease: pending

#1560 Require chormatic ci
  .github/pull_request_template.md
  .github/workflows/chromatic.yml
  CONTRIBUTING.md
Labels: chromatic

#1568 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1566 feat: Add support for fluid buttons [OR-629]
  components/o3-button/README.md
  components/o3-button/main.css
  components/o3-button/src/tsx/button.tsx
  components/o3-button/src/types/index.ts
Labels: chromatic

#1571 chore: release main
  .release-please-manifest.json
  components/o-icons/CHANGELOG.md
  components/o-icons/package.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Labels: autorelease: pending

#1580 chore: fix chromatic deployment
  .github/workflows/chromatic.yml
  apps/o3-storybook/.storybook/preview.ts
  package-lock.json
Labels: chromatic

#1585 chore: release main
  .release-please-manifest.json
  components/o3-tooltip/CHANGELOG.md
  components/o3-tooltip/package.json
Labels: autorelease: pending

#1586 chore: release main
  .release-please-manifest.json
  components/o-autocomplete/CHANGELOG.md
  components/o-autocomplete/package.json
Labels: autorelease: pending

#1589 OR-556: introduce body small
  components/o3-typography/body.css
  components/o3-typography/src/tsx/body.tsx
  components/o3-typography/stories/core/body.stories.tsx
  components/o3-typography/stories/core/professional/body.stories.tsx
  components/o3-typography/stories/story-templates.tsx
Labels: chromatic

#1595 chore: release main
  .release-please-manifest.json
  components/o3-typography/CHANGELOG.md
  components/o3-typography/package.json
Labels: autorelease: pending

#1597 chore: release main
  .release-please-manifest.json
  components/o3-button/CHANGELOG.md
  components/o3-button/package.json
Labels: autorelease: pending

#1601 ADSDEV-1832 - fix: remove elements directly in o-video rather than el.removeChild(c…
  components/o-video/src/js/ads.js
  components/o-video/src/js/info.js
  components/o-video/src/js/video.js
Labels: chromatic

#1604 chore: release main
  .release-please-manifest.json
  components/o3-typography/CHANGELOG.md
  components/o3-typography/package.json
Labels: autorelease: pending

#1612 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
  components/o3-typography/CHANGELOG.md
  components/o3-typography/package.json
Labels: autorelease: pending

#1615 chore: release main
  .release-please-manifest.json
  components/o3-foundation/CHANGELOG.md
  components/o3-foundation/package.json
Labels: autorelease: pending

#1616 chore: release main
  .release-please-manifest.json
  components/o-tooltip/CHANGELOG.md
  components/o-tooltip/package.json
Labels: autorelease: pending

#1621 chore: release main
  .release-please-manifest.json
  libraries/o-tracking/CHANGELOG.md
  libraries/o-tracking/package.json
Labels: autorelease: pending
